@page "/components/input-group"

<TextContent>
  <Title class="pf-u-mb-md">Input group</Title>
  <Text class="pf-u-mb-md">
    An <strong>input group</strong> includes multiple input types, like a text input and a button, in one control.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/input-group/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#basic">Basic</JumpLinksItem>
            <JumpLinksItem Href="#with-textarea">With textarea</JumpLinksItem>
            <JumpLinksItem Href="#with-dropdown">With dropdown</JumpLinksItem>
            <JumpLinksItem Href="#with-multiple-group-siblings">With multiple group siblings</JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
            <JumpLinksItem Href="#"></JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="basic" class="example-section">
      <Title Size="TitleSizes.Large">Basic</Title>
      <InputGroup>
        <TextInput id="textInput6" Type="TextInputTypes.Text" AriaLabel="email input field" />
        <InputGroupText id="email-example">@("@example.com")</InputGroupText>
      </InputGroup>
      <br />
      <InputGroup>
        <InputGroupText id="username" aria-label="username">
          <AtIcon />
        </InputGroupText>
        <TextInput Validated="ValidatedOptions.Error" id="textInput7" Type="TextInputTypes.Email" AriaLabel="Error state username example" />
      </InputGroup>
      <br />
      <InputGroup>
        <TextInput name="textInput11" id="textInput11" Type="TextInputTypes.Search" AriaLabel="search input example" />
        <Button Variant="ButtonVariant.Control" aria-label="search button for search input">
          <SearchIcon />
        </Button>
      </InputGroup>
      <br />
      <InputGroup>
        <TextInput name="textIndex12" id="textInput12" AriaLabel="percentage" />
        <InputGroupText id="plain-example" Variant="InputGroupTextVariant.Plain">%</InputGroupText>
      </InputGroup>
    </section>

    <section id="with-textarea" class="example-section">
      <Title Size="TitleSizes.Large">With textarea</Title>
      <InputGroup>
        <TextArea name="textarea2" id="textarea2" AriaLabel="textarea with button" />
        <Button id="textAreaButton2" Variant="ButtonVariant.Control">
          Button
        </Button>
      </InputGroup>
    </section>

    <section id="with-dropdown" class="example-section">
      <Title Size="TitleSizes.Large">With dropdown</Title>
      <InputGroup>
        <Dropdown OnSelect="@SelectionChanged">
          <Toggle>
            <DropdownToggle>
              @(!string.IsNullOrEmpty(_selected) ? _selected : "Dropdown")
            </DropdownToggle>
          </Toggle>
          <DropdownItems>
            <DropdownItem @key="1" Value="Option 1" Component="button">
              Option 1
            </DropdownItem>
            <DropdownItem @key="2" Value="Option 2" Component="button">
              Option 2
            </DropdownItem>
            <DropdownItem @key="3" Value="Option 3" Component="button">
              Option 3
            </DropdownItem>
          </DropdownItems>
        </Dropdown>
        <TextInput id="textInput3" aria-label="input with dropdown and button" />
        <Button id="inputDropdownButton1" Variant="ButtonVariant.Control">Button</Button>
      </InputGroup>
    </section>

    <section id="with-multiple-group-siblings" class="example-section">
      <Title Size="TitleSizes.Large">With multiple group siblings</Title>
      <InputGroup>
        <Button id="textAreaButton1" Variant="ButtonVariant.Control">
          Button
        </Button>
        <TextArea name="textarea1" id="textarea1" AriaLabel="textarea with buttons" />
        <Button Variant="ButtonVariant.Control">Button</Button>
      </InputGroup>
      <br />
      <InputGroup>
        <Button id="textAreaButton3" Variant="ButtonVariant.Control">
          Button
        </Button>
        <Button Variant="ButtonVariant.Control">Button</Button>
        <TextArea name="textarea3" id="textarea3" AriaLabel="textarea with 3 buttons" />
        <Button Variant="ButtonVariant.Control">Button</Button>
      </InputGroup>
      <br />
      <InputGroup>
        <InputGroupText>
          <DollarSignIcon />
        </InputGroupText>
        <TextInput id="textInput5" Type="TextInputTypes.Number" AriaLabel="Dollar amount input example" />
        <InputGroupText>.00</InputGroupText>
      </InputGroup>
    </section>
  </FlexItem>
</Flex>

@code {
  private string _selected;

  private void SelectionChanged(DropdownItem obj)
  {
    _selected = (string)obj?.AdditionalAttributes["Value"];
  }
}
