@page "/components/masthead"

<TextContent>
  <Title class="pf-u-mb-md">Masthead</Title>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/masthead/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Masthead id="basic">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic with mixed content</Title>
  <Masthead id="basic-mixed">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <Flex>
        <span>Testing text color</span>
        <Button>testing</Button>
        <FlexItem AlignSelf="@(new AlignSelf { Default = AlignSelfs.FlexEnd })">
          <Button>testing</Button>
        </FlexItem>
      </Flex>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Display inline</Title>
  <Masthead id="inline-masthead" Display="@(new MastheadDisplay { Default = MastheadDisplayType.Inline })">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Display stack</Title>
  <Masthead id="stack-masthead" Display="@(new MastheadDisplay { Default = MastheadDisplayType.Stack })">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Display stack, display inline responsive</Title>
  <Masthead id="stack-inline-masthead" Display="@(new MastheadDisplay { Default = MastheadDisplayType.Stack, Large = MastheadDisplayType.Inline, ExtraLarge2 = MastheadDisplayType.Inline  })">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Light variant</Title>
  <Masthead id="light-masthead" BackgroundColor="MastheadBackground.Light">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Light 200 variant</Title>
  <Masthead id="light-200-masthead" BackgroundColor="MastheadBackground.Light200">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Inset</Title>
  <Masthead id="inset-masthead" Inset="@(new Inset { Default = Insets.Small })">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand>Logo</MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With icon router link</Title>
  <Masthead id="with-router-link-masthead">
    <MastheadToggle>
      <Button Variant="ButtonVariant.Plain" AriaLabel="Global navigation">
        <BarsIcon />
      </Button>
    </MastheadToggle>
    <MastheadMain>
      <MastheadBrand Component="MastheadBrandComponent.div" to="#">
        <NavLink href="#" Match="NavLinkMatch.All">
          <img src="assets/images/pf-logo-small.svg" alt="Patternfly Logo" />
        </NavLink>
      </MastheadBrand>
    </MastheadMain>
    <MastheadContent>
      <span>Content</span>
    </MastheadContent>
  </Masthead>
</section>