@page "/components/notification-badge"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Notification badge</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <NotificationBadge Variant="@UnreadVariant" OnClick="@OnFirstClick" aria-label="First notifications" />
  <NotificationBadge Variant="@AttentionVariant" OnClick="@OnSecondClick" aria-label="Second notifications" />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With count</Title>
  <NotificationBadge Variant="FirstVariant" OnClick="@OnFirstClick1" aria-label="First notifications" Count="_firstCount" />
  <NotificationBadge Variant="SecondVariant" OnClick="@OnSecondClick1" aria-label="Second notifications" Count="_secondCount" />
</section>

@code {
  private int _firstCount  = 30;
  private int _secondCount = 30;
  private NotificationBadgeVariant UnreadVariant    { get; set; } = NotificationBadgeVariant.Unread;
  private NotificationBadgeVariant AttentionVariant { get; set; } = NotificationBadgeVariant.Attention;
  private NotificationBadgeVariant FirstVariant     { get; set; } = NotificationBadgeVariant.Unread;
  private NotificationBadgeVariant SecondVariant    { get; set; } = NotificationBadgeVariant.Attention;

  private void OnFirstClick(MouseEventArgs _ )
  {
    UnreadVariant = NotificationBadgeVariant.Read;
  }

  private void OnSecondClick(MouseEventArgs _)
  {
    AttentionVariant = NotificationBadgeVariant.Read;
  }

  private void OnFirstClick1(MouseEventArgs _ )
  {
    FirstVariant = NotificationBadgeVariant.Read;
  }

  private void OnSecondClick1(MouseEventArgs _)
  {
    SecondVariant = NotificationBadgeVariant.Read;
  }
}