@page "/components/page"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Page</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Vertical nav</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle="true" IsNavOpen="@IsNavOpen" OnNavToggle="@OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@IsNavOpen"></PageSidebar>
    </Sidebar>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Horizontal nav</Title>
  <Page>
    <Header>
      <PageHeader>
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
        <TopNav>Navigation</TopNav>
      </PageHeader>
    </Header>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Tertiary nav</Title>
  <Page>
    <Header>
      <PageHeader>
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <TertiaryNav>Navigation</TertiaryNav>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Main Section Padding</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle="true" IsNavOpen="@IsNavOpen" OnNavToggle="@OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@IsNavOpen" />
    </Sidebar>
    <Content>
      <PageSection>Section with default padding</PageSection>
      <PageSection Variant="PageSectionVariant.Light" Padding="@Section1Padding">
        Section with no padding
      </PageSection>
      <PageSection Padding="@Section2Padding">
        Section with padding only on medium/large
      </PageSection>
      <PageSection Variant="PageSectionVariant.Light" Padding="@Section3Padding">
        Section with no padding on medium
      </PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With or without fill</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle="true" IsNavOpen="@IsNavOpen" OnNavToggle="@OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@IsNavOpen" />
    </Sidebar>
    <Content>
      <PageSection style="height: 10em">This section is set to the default fill variant</PageSection>
      <PageSection style="height: 10em" IsFilled="true">
        This section fills the available space.
      </PageSection>
      <PageSection style="height: 10em" IsFilled="false">
        This section does not fill the available space.
      </PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Uncontrolled nav <b>(Not Working)</b></Title>
  <Page IsManagedSidebar="true">
    <Header>
      <PageHeader ShowNavToggle="true">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation"></PageSidebar>
    </Sidebar>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Group section (Not Working)</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle="true" IsNavOpen="@IsNavOpen" OnNavToggle="@OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@IsNavOpen"></PageSidebar>
    </Sidebar>
    <Content>
      <PageGroup>
        <PageNavigation>
          <Nav aria-label="Nav" Variant="NavVariant.Tertiary">
            <NavList>
              <NavItem ItemId="0" IsActive="true">System panel</NavItem>
              <NavItem ItemId="1">Policy</NavItem>
              <NavItem ItemId="2">Authentication</NavItem>
              <NavItem ItemId="3">Network services</NavItem>
              <NavItem ItemId="4">Server</NavItem>
            </NavList>
          </Nav>
        </PageNavigation>
        <PageBreadcrumb>
          <Breadcrumb>
            <BreadcrumbItem>Section home</BreadcrumbItem>
            <BreadcrumbItem To="#">Section title</BreadcrumbItem>
            <BreadcrumbItem To="#">Section title</BreadcrumbItem>
            <BreadcrumbItem To="#" IsActive="true">Section landing</BreadcrumbItem>
          </Breadcrumb>
        </PageBreadcrumb>
        <PageSection Variant="PageSectionVariant.Light">Grouped section</PageSection>
      </PageGroup>
      <PageSection Variant="PageSectionVariant.Dark">Section 1</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section 2</PageSection>
    </Content>
  </Page>
</section>

@code {
  private bool IsNavOpen { get; set; } = true;

  private void OnNavToggle(bool value)
  {
    IsNavOpen = value;
    StateHasChanged();
  }

  private Padding Section1Padding => new() { Default = Paddings.NoPadding };
  private Padding Section2Padding => new() { Default = Paddings.NoPadding, Medium = Paddings.Padding, Large = Paddings.Padding };
  private Padding Section3Padding => new() { Medium  = Paddings.NoPadding };
}