@page "/components/page"

<TextContent>
  <Title class="pf-u-mb-md">Page</Title>
  <Text class="pf-u-mb-md">
    The <strong>page</strong> component is used to define the basic layout of a page with either vertical or horizontal navigation.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/page/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Vertical nav</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle IsNavOpen="@Page1.IsNavOpen" OnNavToggle="@Page1.OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@Page1.IsNavOpen"></PageSidebar>
    </Sidebar>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Horizontal nav</Title>
  <Page>
    <Header>
      <PageHeader>
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
        <TopNav>Navigation</TopNav>
      </PageHeader>
    </Header>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Tertiary nav</Title>
  <Page>
    <Header>
      <PageHeader>
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <TertiaryNav>Navigation</TertiaryNav>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Main Section Padding</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle IsNavOpen="@Page2.IsNavOpen" OnNavToggle="@Page2.OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@Page2.IsNavOpen" />
    </Sidebar>
    <Content>
      <PageSection>Section with default padding</PageSection>
      <PageSection Variant="PageSectionVariant.Light" Padding="@Section1Padding">
        Section with no padding
      </PageSection>
      <PageSection Padding="@Section2Padding">
        Section with padding only on medium/large
      </PageSection>
      <PageSection Variant="PageSectionVariant.Light" Padding="@Section3Padding">
        Section with no padding on medium
      </PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With or without fill</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle IsNavOpen="@Page3.IsNavOpen" OnNavToggle="@Page3.OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@Page3.IsNavOpen" />
    </Sidebar>
    <Content>
      <PageSection style="height: 10em">This section is set to the default fill variant</PageSection>
      <PageSection style="height: 10em" IsFilled="true">
        This section fills the available space.
      </PageSection>
      <PageSection style="height: 10em" IsFilled="false">
        This section does not fill the available space.
      </PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Uncontrolled nav <b>(Not Working)</b></Title>
  <Page IsManagedSidebar="true">
    <Header>
      <PageHeader ShowNavToggle>
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation"></PageSidebar>
    </Sidebar>
    <Content>
      <PageSection Variant="PageSectionVariant.Darker">Section with darker background</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section with dark background</PageSection>
      <PageSection Variant="PageSectionVariant.Light">Section with light background</PageSection>
    </Content>
  </Page>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Group section</Title>
  <Page>
    <Header>
      <PageHeader ShowNavToggle IsNavOpen="@Page4.IsNavOpen" OnNavToggle="@Page4.OnNavToggle">
        <Logo>Logo</Logo>
        <HeaderTools>
          <PageHeaderTools>header-tools</PageHeaderTools>
        </HeaderTools>
      </PageHeader>
    </Header>
    <Sidebar>
      <PageSidebar nav="Navigation" IsNavOpen="@Page4.IsNavOpen"></PageSidebar>
    </Sidebar>
    <Content>
      <PageGroup>
        <PageNavigation>
          <Nav AriaLabel="Nav" Variant="NavVariant.Tertiary">
            <NavList>
              <NavItem ItemId="0">System panel</NavItem>
              <NavItem ItemId="1">Policy</NavItem>
              <NavItem ItemId="2">Authentication</NavItem>
              <NavItem ItemId="3">Network services</NavItem>
              <NavItem ItemId="4">Server</NavItem>
            </NavList>
          </Nav>
        </PageNavigation>
        <PageBreadcrumb>
          <Breadcrumb>
            <BreadcrumbItem>Section home</BreadcrumbItem>
            <BreadcrumbItem To="#">Section title</BreadcrumbItem>
            <BreadcrumbItem To="#">Section title</BreadcrumbItem>
            <BreadcrumbItem To="#" IsActive="true">Section landing</BreadcrumbItem>
          </Breadcrumb>
        </PageBreadcrumb>
        <PageSection Variant="PageSectionVariant.Light">Grouped section</PageSection>
      </PageGroup>
      <PageSection Variant="PageSectionVariant.Dark">Section 1</PageSection>
      <PageSection Variant="PageSectionVariant.Dark">Section 2</PageSection>
    </Content>
  </Page>
</section>

@code {
  internal class PageState
  {
    public bool IsNavOpen { get; set; } = true;

    public void OnNavToggle(bool value)
    {
      IsNavOpen = value;
    }
  }

  private PageState Page1 { get; } = new();
  private PageState Page2 { get; } = new();
  private PageState Page3 { get; } = new();
  private PageState Page4 { get; } = new();

  private Padding Section1Padding => new() { Default = Paddings.NoPadding };
  private Padding Section2Padding => new() { Default = Paddings.NoPadding, Medium = Paddings.Padding, Large = Paddings.Padding };
  private Padding Section3Padding => new() { Medium  = Paddings.NoPadding };
}