@page "/components/select"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Select</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Single</Title>
  <div>
    <span id="@TitleId" hidden>
      Title
    </span>
    <Select
      Variant="SelectVariant.Single"
      aria-label="Select Input"
      OnToggle="@OnToggle"
      OnSelect="@OnSelect"
      Selections="@Selected"
      IsOpen="@IsOpen"
      aria-labelledby="@TitleId"
      IsDisabled="@IsDisabled"
      Direction="@Direction"
      PlaceholderText="Select a title"
    >
      <ToggleIcon>
        @if (IsToggleIcon)
        {
            <CubeIcon />
        }
      </ToggleIcon>
      <ChildContent>
        <SelectOption Key="0" Value="Select a title" IsPlaceholder="true" />
        <SelectOption Key="1" Value="Mr" />
        <SelectOption Key="2" Value="Miss" />
        <SelectOption Key="3" Value="Mrs" />
        <SelectOption Key="4" Value="Ms" />
        <Divider Component="DividerVariant.li" Key="5" />
        <SelectOption Key="6" Value="Dr" />
        <SelectOption Key="7" Value="Other" />
      </ChildContent>
    </Select>
    <Checkbox
      label="isDisabled"
      aria-label="disabled checkbox"
      id="toggle-disabled"
      name="toggle-disabled"
      @bind-Value="@IsDisabled"
    />
    <Checkbox
      label="Expands up"
      aria-label="direction checkbox"
      id="toggle-direction"
      name="toggle-direction"
      @bind-Value="@DirectionUp"
    />
    <Checkbox
      label="Show icon"
      aria-label="show icon checkbox"
      id="toggle-icon"
      name="toggle-icon"
      @bind-Value="@IsToggleIcon"
    />
  </div>
</section>

@code {
  private string TitleId => "title-id-1";

  private bool IsToggleIcon { get; set; }
  private bool IsOpen { get; set; }
  private string Selected { get; set; }
  private bool IsDisabled { get; set; }
  private SelectDirection Direction { get; set; } = SelectDirection.Down;

  private bool _directionUp;

  private bool DirectionUp
  {
    get => _directionUp;
    set
    {
      _directionUp = value;
      Direction = value ? SelectDirection.Up : SelectDirection.Down;
    }
  }

  private void ClearSelection()
  {
    Selected = null;
    IsOpen   = false;
  }

  private void OnToggle(bool isOpen) => IsOpen = isOpen;

  private void OnSelect(SelectOption selection)
  {
    if (selection.IsPlaceholder)
    {
      ClearSelection();
    }
    else
    {
      Selected = selection.Value;
      IsOpen = false;
    }
  }
}