@page "/components/table"

<TextContent>
  <Title class="pf-u-mb-md">Table</Title>
  <Text class="pf-u-mb-md">
    A <strong>table</strong> is used to display large data sets that can be easily laid out in a simple grid with column headers.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/table/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <ToggleGroup AriaLabel="Default with single selectable">
    <ToggleGroupItem ButtonId="default" @bind-IsSelected="@DefaultTableSelected">
      <Text>Default</Text>
    </ToggleGroupItem>
    <ToggleGroupItem ButtonId="compact" @bind-IsSelected="@CompactTableSelected">
      <Text>Compact</Text>
    </ToggleGroupItem>
    <ToggleGroupItem ButtonId="compactBorderless" @bind-IsSelected="@BorderlessTableSelected">
      <Text>Compact borderless</Text>
    </ToggleGroupItem>
  </ToggleGroup>
  <Table
    AriaLabel="Simple Table"
    Variant="@_variant"
    Borders="@_borders"
  >
    <TableCaption>Simple table using composable components</TableCaption>
    <TableHeader>
      <TableHeaderRow Columns="@BasicState.Columns" Context="column">
        <ColumnTemplate>
          <TableHeaderCell>@column</TableHeaderCell>
        </ColumnTemplate>
      </TableHeaderRow>
    </TableHeader>
    <TableBody Rows="@BasicState.Rows" Context="item">
      <RowTemplate>
        <TableRow>
          <TableCell DataLabel="@BasicState.Columns[0]">@item.Repository</TableCell>
          <TableCell DataLabel="@BasicState.Columns[1]">@item.Branch</TableCell>
          <TableCell DataLabel="@BasicState.Columns[2]">@item.PullRequest</TableCell>
          <TableCell DataLabel="@BasicState.Columns[3]">@item.Workspace</TableCell>
          <TableCell DataLabel="@BasicState.Columns[4]">@item.LastCommit</TableCell>
        </TableRow>
      </RowTemplate>
    </TableBody>
  </Table>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Empty state</Title>
  <Table
    AriaLabel="Simple Table"
    Variant="@_variant"
    Borders="@_borders"
  >
    <TableHeader>
      <TableHeaderRow Columns="@EmptyState.Columns" Context="column">
        <ColumnTemplate>
          <TableHeaderCell>@column</TableHeaderCell>
        </ColumnTemplate>
      </TableHeaderRow>
    </TableHeader>
    <TableBody Rows="@EmptyState.Rows" Context="item">
      <RowTemplate>
        <TableRow>
          <TableCell>@item.Repository</TableCell>
          <TableCell>@item.Branch</TableCell>
          <TableCell>@item.PullRequest</TableCell>
          <TableCell>@item.Workspace</TableCell>
          <TableCell>@item.LastCommit</TableCell>
        </TableRow>
      </RowTemplate>
      <EmptyTemplate>
        <TableRow>
          <TableCell colspan="@EmptyState.Columns.Length">
            <Bullseye>
              <EmptyState Variant="EmptyStateVariant.Small">
                <EmptyStateIcon>
                  <SearchIcon/>
                </EmptyStateIcon>
                <Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.Large">
                  No results found
                </Title>
                <EmptyStateBody>
                  No results match the filter criteria. Remove all filters or clear all filters to show results.
                </EmptyStateBody>
                <Button Variant="ButtonVariant.Link">Clear all filters</Button>
              </EmptyState>
            </Bullseye>
          </TableCell>
        </TableRow>
      </EmptyTemplate>
    </TableBody>
  </Table>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Sortable & wrapping headers</Title>
  <Table>
    <TableHeader>
      <TableHeaderRow Columns="@SwState.Columns" Context="column">
        <ColumnTemplate>
          <TableHeaderCell
            Sort="@column.Sort"
            Modifier="@column.WrapModifier"
            OnSort="@SwState.OnSort"
          >
            @column.Name
          </TableHeaderCell>
        </ColumnTemplate>
      </TableHeaderRow>
    </TableHeader>
    <TableBody Rows="@SwState.Range" Context="item">
      <RowTemplate>
        <TableRow>
          <TableCell DataLabel="@SwState.Columns[0].Name">@item.Value1</TableCell>
          <TableCell DataLabel="@SwState.Columns[1].Name">@item.Value2</TableCell>
          <TableCell DataLabel="@SwState.Columns[2].Name">@item.Value3</TableCell>
          <TableCell DataLabel="@SwState.Columns[3].Name">@item.Value4</TableCell>
          <TableCell DataLabel="@SwState.Columns[4].Name">@item.Value5</TableCell>
        </TableRow>
      </RowTemplate>
    </TableBody>
  </Table>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Selectable</Title>
  <Table AriaLabel="Selectable Table">
    <TableHeader>
      <TableHeaderRow Columns="@SelectableState.Columns" Context="column">
        <ColumnTemplate>
          <TableHeaderCell Select="@column.Select" OnSelect="@SelectableState.OnSelectAllRows">
            @column.Name
          </TableHeaderCell>
        </ColumnTemplate>
      </TableHeaderRow>
    </TableHeader>
    <TableBody Rows="@SelectableState.Rows" Context="item">
      <RowTemplate>
        <TableRow>
          <TableCell @key="0" Select="@item.Selection" OnSelect="@SelectableState.OnSelectRow"></TableCell>
          <TableCell @key="1" DataLabel="@SelectableState.Columns[1].Name">@item.Repository</TableCell>
          <TableCell @key="2" DataLabel="@SelectableState.Columns[2].Name">@item.Branch</TableCell>
          <TableCell @key="3" DataLabel="@SelectableState.Columns[3].Name">@item.PullRequest</TableCell>
          <TableCell @key="4" DataLabel="@SelectableState.Columns[4].Name">@item.Workspace</TableCell>
          <TableCell @key="5" DataLabel="@SelectableState.Columns[5].Name">@item.LastCommit</TableCell>
        </TableRow>
      </RowTemplate>
    </TableBody>
  </Table>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Expandable</Title>
  <Checkbox
    Label="Compact"
    @bind-Value="@ExpandableState.IsCompact"
    AriaLabel="toggle compact variation"
    id="toggle-compact"
    name="toggle-compact"
  />
  <Table
    AriaLabel="Expandable Table"
    Variant="@ExpandableState.Variant"
  >
    <TableHeader>
      <TableHeaderRow Columns="@ExpandableState.Columns" Context="column">
        <ColumnTemplate>
          <TableHeaderCell>@column</TableHeaderCell>
        </ColumnTemplate>
      </TableHeaderRow>
    </TableHeader>
    <TableBody Rows="@ExpandableState.Rows" Context="item">
      <ExpandableRowTemplate>
        <TableRowGroup IsExpanded="@item.IsExpanded">
          <TableRow @key="@item">
            <TableCell @key="1" Expand="@item.Expand" OnToggle="@ExpandableState.OnToggle"></TableCell>
            <TableCell @key="2" DataLabel="@ExpandableState.Columns[0]">@item.Parent.Repository</TableCell>
            <TableCell @key="3" DataLabel="@ExpandableState.Columns[1]">@item.Parent.Branch</TableCell>
            <TableCell @key="4" DataLabel="@ExpandableState.Columns[2]">@item.Parent.PullRequest</TableCell>
            <TableCell @key="5" DataLabel="@ExpandableState.Columns[3]">@item.Parent.Workspace</TableCell>
            <TableCell @key="6" DataLabel="@ExpandableState.Columns[4]">@item.Parent.LastCommit</TableCell>
          </TableRow>
          @if (@item.Expand is not null && @item.Expand.IsExpanded)
          {
            <TableRow @key="@item.Child" IsExpanded="@item.IsExpanded">
              @if (!string.IsNullOrEmpty(item.Child.Value3))
              {
                <TableCell @key="1" colspan="2">
                  <ExpandableRowContent>@item.Child.Value1</ExpandableRowContent>
                </TableCell>
                <TableCell @key="2" colspan="2">
                  <ExpandableRowContent>@item.Child.Value2</ExpandableRowContent>
                </TableCell>
                <TableCell @key="3" colspan="2">
                  <ExpandableRowContent>@item.Child.Value3</ExpandableRowContent>
                </TableCell>
              }
              else if (!string.IsNullOrEmpty(item.Child.Value2))
              {
                <TableCell></TableCell>
                <TableCell @key="1" colspan="2">
                  <ExpandableRowContent>@item.Child.Value1</ExpandableRowContent>
                </TableCell>
                <TableCell @key="2" colspan="3">
                  <ExpandableRowContent>@item.Child.Value2</ExpandableRowContent>
                </TableCell>
              }
              else
              {
                <TableCell></TableCell>
                <TableCell @key="1" colspan="5" NoPadding="@item.Expand.NoPadding">
                  <ExpandableRowContent>@item.Child.Value1</ExpandableRowContent>
                </TableCell>
              }
            </TableRow>
          }
        </TableRowGroup>
      </ExpandableRowTemplate>
    </TableBody>
  </Table>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Sticky column</Title>
  <InnerScrollContainer>
    <Table AriaLabel="Sticky column table" GridBreakPoint="TableGridBreakPoint.None" style="width: 1000px">
      <TableHeader>
        <TableHeaderRow Columns="@StickyState.Columns" Context="column">
          <ColumnTemplate>
            <TableHeaderCell
              IsStickyColumn="@column.IsSticky"
              HasRightBorder="@column.HasRightBorder"
              Sort="@column.Sort"
              Modifier="@column.WrapModifier"
              OnSort="@StickyState.OnSort"
            >
              @column.Name
            </TableHeaderCell>
          </ColumnTemplate>
        </TableHeaderRow>
      </TableHeader>
      <TableBody Rows="@StickyState.Range" Context="item">
        <RowTemplate>
          <TableRow>
            <TableCell IsStickyColumn="@StickyState.Columns[0].IsSticky" HasRightBorder="@StickyState.Columns[0].HasRightBorder" DataLabel="@StickyState.Columns[0].Name">@item.Value1</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[1].IsSticky" HasRightBorder="@StickyState.Columns[1].HasRightBorder" DataLabel="@StickyState.Columns[1].Name">@item.Value2</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[2].IsSticky" HasRightBorder="@StickyState.Columns[2].HasRightBorder" DataLabel="@StickyState.Columns[2].Name">@item.Value3</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[3].IsSticky" HasRightBorder="@StickyState.Columns[3].HasRightBorder" DataLabel="@StickyState.Columns[3].Name">@item.Value4</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[4].IsSticky" HasRightBorder="@StickyState.Columns[4].HasRightBorder" DataLabel="@StickyState.Columns[4].Name">@item.Value5</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[5].IsSticky" HasRightBorder="@StickyState.Columns[5].HasRightBorder" DataLabel="@StickyState.Columns[5].Name">@item.Value6</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[6].IsSticky" HasRightBorder="@StickyState.Columns[6].HasRightBorder" DataLabel="@StickyState.Columns[6].Name">@item.Value7</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[7].IsSticky" HasRightBorder="@StickyState.Columns[7].HasRightBorder" DataLabel="@StickyState.Columns[7].Name">@item.Value8</TableCell>
            <TableCell IsStickyColumn="@StickyState.Columns[8].IsSticky" HasRightBorder="@StickyState.Columns[8].HasRightBorder" DataLabel="@StickyState.Columns[8].Name">@item.Value9</TableCell>
          </TableRow>
        </RowTemplate>
      </TableBody>
    </Table>
  </InnerScrollContainer>
</section>

@code {
  private bool _defaultTableSelected = true;
  private bool DefaultTableSelected
  {
    get => _defaultTableSelected;
    set
    {
      if (!EqualityComparer<bool>.Default.Equals(value, _defaultTableSelected))
      {
        _compactTableSelected    = false;
        _borderlessTableSelected = false;

        _defaultTableSelected = true;
        _variant              = null;
      }
    }
  }

  private bool _compactTableSelected;
  private bool CompactTableSelected
  {
    get => _compactTableSelected;
    set
    {
      if (!EqualityComparer<bool>.Default.Equals(value, _compactTableSelected))
      {
        _defaultTableSelected    = false;
        _borderlessTableSelected = false;

        _compactTableSelected = true;
        _variant              = _compactTableSelected ? TableVariant.Compact : null;
        _borders              = true;
      }
    }
  }

  private bool _borderlessTableSelected;
  private bool BorderlessTableSelected
  {
    get => _borderlessTableSelected;
    set
    {
      if (!EqualityComparer<bool>.Default.Equals(value, _borderlessTableSelected))
      {
        _defaultTableSelected    = false;
        _compactTableSelected    = false;
        _borderlessTableSelected = true;
        _variant                 = TableVariant.Compact;
        _borders                 = false;
      }
    }
  }

  private TableVariant? _variant;
  private bool          _borders = true;

  private BasicTableState BasicState { get; } = new();
  private class BasicTableState
  {
    public string[] Columns { get; } = { "Repositories",  "Branches",  "Pull requests",  "Workspaces",  "Last commit" };
    public Model[] Rows { get; } =
    {
      new("Repository one"  , "Branch one"  , "PR one"  , "Workspace one"  , "Commit one"),
      new("Repository two"  , null          , null      , "Workspace two"  , "Commit two"),
      new("Repository three", "Branch three", "PR three", "Workspace three", "Commit three")
    };
  }

  private EmptyTableState EmptyState { get; } = new();
  private class EmptyTableState
  {
    public string[] Columns { get; } = { "Repositories",  "Branches",  "Pull requests",  "Workspaces",  "Last commit" };
    public Model[] Rows { get; } = Array.Empty<Model>();
  }

  public class Model
  {
    public string Repository  { get; }
    public string Branch      { get; }
    public string PullRequest { get; }
    public string Workspace   { get; }
    public string LastCommit  { get; }

    public SelectType Selection { get; }

    public Model(string repository, string branch, string pullRequest, string workspace, string lastCommit, SelectType selection = null)
    {
      Repository  = repository;
      Branch      = branch;
      PullRequest = pullRequest;
      Workspace   = workspace;
      LastCommit  = lastCommit;
      Selection   = selection;
    }
  }

  public class Values
  {
    public string Value1 { get; }
    public string Value2 { get; }
    public string Value3 { get; }
    public string Value4 { get; }
    public string Value5 { get; }

    public Values(string value1, string value2 = null, string value3 = null, string value4 = null, string value5 = null)
    {
      Value1 = value1;
      Value2 = value2;
      Value3 = value3;
      Value4 = value4;
      Value5 = value5;
    }
  }

  public class Column
  {
    public string Name { get; set; }
    public SortType Sort { get; set; }
    public SelectType Select { get; set; }
    public WrapModifier? WrapModifier { get; set; }
    public bool IsSticky { get; set; }
    public bool HasRightBorder { get; set; }
  }

  private SortableAndWrapState SwState { get; } = new();
  private class SortableAndWrapState
  {
    public Column[] Columns { get; private set; }
    public IEnumerable<Values> Range { get; set; }

    private SortBy   SortBy { get; } = new ();
    private Values[] Rows   { get; } =
    {
      new("one", "two", "a", "four", "five"),
      new("a", "two", "k", "four", "five"),
      new("p", "two", "b", "four", "five")
    };

    public SortableAndWrapState()
    {
      InitializeColumns();
    }

    public void OnSort(SortEventArgs args)
    {
      var q = Rows.AsQueryable();

      if (args.ColumnIndex == 0)
      {
        if (args.SortByDirection == SortByDirection.Asc)
        {
          q = q.OrderBy(x => x.Value1);
        }
        else
        {
          q = q.OrderByDescending(x => x.Value1);
        }
      }
      else if (args.ColumnIndex == 2)
      {
        if (args.SortByDirection == SortByDirection.Asc)
        {
          q = q.OrderBy(x => x.Value3);
        }
        else
        {
          q = q.OrderByDescending(x => x.Value3);
        }
      }

      Range            = q.AsEnumerable();
      SortBy.Index     = args.ColumnIndex;
      SortBy.Direction = args.SortByDirection;
    }

    private void InitializeColumns()
    {
      Range   = Rows;
      Columns = new Column[]
      {
        new()
        {
          Name = "This is a really long table header that goes on for a long time 1.",
          Sort = new SortType
          {
            ColumnIndex = 0,
            SortBy      = SortBy
          }
        },
        new()
        {
          Name         = "This is a really long table header that goes on for a long time 2.",
          WrapModifier = WrapModifier.Wrap,
        },
        new()
        {
          Name         = "This is a really long table header that goes on for a long time 3.",
          WrapModifier = WrapModifier.Wrap,
          Sort         = new SortType
          {
            ColumnIndex = 2,
            SortBy      = SortBy
          }
        },
        new()
        {
          Name         = "This is a really long table header that goes on for a long time 4.",
          WrapModifier = WrapModifier.Wrap,
        },
        new()
        {
          Name         = "This is a really long table header that goes on for a long time 5.",
          WrapModifier = WrapModifier.Wrap,
        }
      };
    }
  }

  private Selectable SelectableState { get; } = new();
  public class Selectable
  {
    public static SelectType AllRowsSelector { get; } = new();

    public Column[] Columns =
    {
      new() { Select = AllRowsSelector },
      new() { Name   = "Repositories" },
      new() { Name   = "Branches" },
      new() { Name   = "Pull requests" },
      new() { Name   = "Workspaces" },
      new() { Name   = "Last commit" },
    };
    public Model[] Rows { get; } =
    {
      new ("one", "two", "a", "four", "five", new SelectType { RowIndex = 0, Disable = true  }),
      new ("a"  , "two", "k", "four", "five", new SelectType { RowIndex = 1, Disable = false }),
      new ("a"  , "two", "k", "four", "five", new SelectType { RowIndex = 2, Disable = false }),
      new ("a"  , "two", "k", "four", "five", new SelectType { RowIndex = 3, Disable = false }),
      new ("a"  , "two", "k", "four", "five", new SelectType { RowIndex = 4, Disable = false }),
      new ("p"  , "two", "b", "four", "five", new SelectType { RowIndex = 5, Disable = false })
    };

    public void OnSelectAllRows(SelectEventArgs args)
    {
      AllRowsSelector.IsSelected = args.IsSelected;

      foreach (var row in Rows.Where(r => !r.Selection.Disable))
      {
        row.Selection.IsSelected = args.IsSelected;
      }
    }

    public void OnSelectRow(SelectEventArgs args)
    {
      Rows[args.RowIndex].Selection.IsSelected = args.IsSelected;
    }
  }

  private Expandable ExpandableState { get; } = new ();
  public class Expandable
  {
    public bool IsCompact { get; set; } = true;

    public TableVariant? Variant { get => IsCompact ? TableVariant.Compact : null; }

    public string[] Columns { get; } = { "", "Repositories",  "Branches",  "Pull requests",  "Workspaces",  "Last commit" };

    public ExpandableModel[] Rows { get; } =
    {
      new() { Parent = new Model("one", "two", "a", "four", "five"), Child = null },
      new() {
        Parent = new Model("parent 1", "two", "k", "four", "five"),
        Child = new Values("single cell"),
        Expand = new ExpandType
        {
          RowIndex   = 1,
          IsExpanded = true
        }
      },
      new() {
        Parent = new Model("parent 2", "two", "b", "four", "five"),
        Child  = new Values("single cell - fullWidth"),
        Expand = new ExpandType
        {
          RowIndex   = 2,
          FullWidth  = true,
          IsExpanded = true
        }
      },
      new() {
        Parent = new Model("parent 3", "2", "b", "four", "five"),
        Child  = new Values("single cell - noPadding"),
        Expand = new ExpandType
        {
          RowIndex   = 3,
          NoPadding  = true,
          IsExpanded = true
        }
      },
      new() {
        Parent = new Model("parent 4", "2", "b", "four", "five"),
        Child  = new Values("single cell - fullWidth & noPadding"),
        Expand = new ExpandType
        {
          RowIndex   = 4,
          FullWidth  = true,
          NoPadding  = true,
          IsExpanded = true
        }
      },
      new() {
        Parent = new Model("parent 5", "2", "b", "four", "five"),
        Child  = new Values("spans 'Repositories' and 'Branches'", "spans 'Pull requests' and 'Workspaces', and 'Last commit'"),
        Expand = new ExpandType
        {
          RowIndex   = 5,
          IsExpanded = true
        }
      },
      new() {
        Parent = new Model("parent 6", "2", "b", "four", "five"),
        Child  = new Values(
          "fullWidth, spans the collapsible column and 'Repositories'",
          "fullWidth, spans 'Branches' and 'Pull requests'",
          "fullWidth, spans 'Workspaces' and 'Last commit'"
        ),
        Expand = new ExpandType
        {
          RowIndex   = 6,
          FullWidth  = true,
          IsExpanded = true
        }
      }
    };

    public void OnToggle(CollapseEventArgs args)
    {
      Rows[args.RowIndex].Expand.IsExpanded = args.IsOpen;
    }
  }

  public class ExpandableModel
  {
    public Model      Parent     { get; set; }
    public Values     Child      { get; set; }
    public ExpandType Expand     { get; set; }
    public bool       IsExpanded { get => Expand is not null && Expand.IsExpanded; }
  }

  public class StickyModel
  {
    public string Value1 { get; }
    public string Value2 { get; }
    public string Value3 { get; }
    public string Value4 { get; }
    public string Value5 { get; }
    public string Value6 { get; }
    public string Value7 { get; }
    public string Value8 { get; }
    public string Value9 { get; }

    public StickyModel(
      string value1,
      string value2 = null,
      string value3 = null,
      string value4 = null,
      string value5 = null,
      string value6 = null,
      string value7 = null,
      string value8 = null,
      string value9 = null)
    {
      Value1 = value1;
      Value2 = value2;
      Value3 = value3;
      Value4 = value4;
      Value5 = value5;
      Value5 = value6;
      Value5 = value7;
      Value5 = value8;
      Value5 = value9;
    }
  }

  private Sticky StickyState { get; } = new ();
  public class Sticky
  {
    private static SortBy SortBy { get; } = new ();

    public Column[] Columns { get; } =
    {
      new Column { Name = "Fact"    , Sort = new SortType { ColumnIndex = 0, SortBy = SortBy }, IsSticky = true, HasRightBorder = true },
      new Column { Name = "State"   , Sort = new SortType { ColumnIndex = 0, SortBy = SortBy } },
      new Column { Name = "Header 3", WrapModifier = WrapModifier.Truncate, },
      new Column { Name = "Header 4", WrapModifier = WrapModifier.Truncate, },
      new Column { Name = "Header 5", WrapModifier = WrapModifier.Truncate, },
      new Column { Name = "Header 6", WrapModifier = WrapModifier.Truncate, },
      new Column { Name = "Header 7", WrapModifier = WrapModifier.Truncate, },
      new Column { Name = "Header 8", WrapModifier = WrapModifier.Truncate, },
      new Column { Name = "Header 9", WrapModifier = WrapModifier.Truncate, },
    };

    public StickyModel[] Rows { get; init; }

    public IEnumerable<StickyModel> Range { get; set; }

    public Sticky()
    {
      Rows = new StickyModel[]
      {
        new ("Fact 1", "State 1", "Test cell 1-3", "Test cell 1-4", "Test cell 1-5", "Test cell 1-6", "Test cell 1-7", "Test cell 1-8", "Test cell 1-9"),
        new ("Fact 2", "State 2", "Test cell 2-3", "Test cell 2-4", "Test cell 2-5", "Test cell 2-6", "Test cell 2-7", "Test cell 2-8", "Test cell 2-9"),
        new ("Fact 3", "State 3", "Test cell 3-3", "Test cell 3-4", "Test cell 3-5", "Test cell 3-6", "Test cell 3-7", "Test cell 3-8", "Test cell 3-9"),
        new ("Fact 4", "State 4", "Test cell 4-3", "Test cell 4-4", "Test cell 4-5", "Test cell 4-6", "Test cell 4-7", "Test cell 4-8", "Test cell 4-9"),
        new ("Fact 5", "State 5", "Test cell 5-3", "Test cell 5-4", "Test cell 5-5", "Test cell 5-6", "Test cell 5-7", "Test cell 5-8", "Test cell 5-9"),
        new ("Fact 6", "State 6", "Test cell 6-3", "Test cell 6-4", "Test cell 6-5", "Test cell 6-6", "Test cell 6-7", "Test cell 6-8", "Test cell 6-9"),
        new ("Fact 7", "State 7", "Test cell 7-3", "Test cell 7-4", "Test cell 7-5", "Test cell 7-6", "Test cell 7-7", "Test cell 7-8", "Test cell 7-9"),
        new ("Fact 8", "State 8", "Test cell 8-3", "Test cell 8-4", "Test cell 8-5", "Test cell 8-6", "Test cell 8-7", "Test cell 8-8", "Test cell 8-9"),
        new ("Fact 9", "State 9", "Test cell 9-3", "Test cell 9-4", "Test cell 9-5", "Test cell 9-6", "Test cell 9-7", "Test cell 9-8", "Test cell 9-9")
      };

      Range = Rows;
    }

    public void OnSort(SortEventArgs args)
    {
      var q = Rows.AsQueryable();

      if (args.ColumnIndex == 0)
      {
        if (args.SortByDirection == SortByDirection.Asc)
        {
          q = q.OrderBy(x => x.Value1);
        }
        else
        {
          q = q.OrderByDescending(x => x.Value1);
        }
      }
      else if (args.ColumnIndex == 1)
      {
        if (args.SortByDirection == SortByDirection.Asc)
        {
          q = q.OrderBy(x => x.Value2);
        }
        else
        {
          q = q.OrderByDescending(x => x.Value2);
        }
      }

      Range            = q.AsEnumerable();
      SortBy.Index     = args.ColumnIndex;
      SortBy.Direction = args.SortByDirection;
    }
  }
}