<Masthead>
  <MastheadToggle>
    <PageToggleButton AriaLabel="Global navigation" IsNavOpen="@IsNavOpen" OnNavToggle="@NavToggleHandler">
      <BarsIcon />
    </PageToggleButton>
  </MastheadToggle>
  <MastheadMain>
    <MastheadBrand Component="MastheadBrandComponent.div">
      <Title HeadingLevel="HeadingLevel.h1">B L A T T E R N F L Y</Title>
    </MastheadBrand>
  </MastheadMain>
  <MastheadContent>
    <Toolbar IsFullHeight IsStatic>
      <ToolbarContent>
        <ToolbarGroup
          Alignment="@(new () { Default = Alignment.Right })"
          Spacer="@(new () { Default = ToolbarSpacer.None, Medium = ToolbarSpacer.Medium })"
        >
          <ToolbarItem>
            <ThemeProvider IsDarkThemeEnabled="@IsDarkThemeEnabled" />
            <Switch
              id="dark-theme-switch"
              AriaLabel="Toggle dark theme"
              Value="@IsDarkThemeEnabled"
              ValueChanged="@HandleDarkThemeChange"
            >
              <Label>Dark theme</Label>
            </Switch>
          </ToolbarItem>
        </ToolbarGroup>
      </ToolbarContent>
    </Toolbar>
  </MastheadContent>
</Masthead>

@code {
  [Parameter] public bool IsNavOpen { get; set; }
  [Parameter] public bool IsManagedSidebar { get; set; }
  [Parameter] public EventCallback<bool> OnNavToggle { get; set; }

  private bool IsDarkThemeEnabled { get; set; }

  private async Task NavToggleHandler(bool isNavOpen)
  {
    IsNavOpen = isNavOpen;
    await OnNavToggle.InvokeAsync(IsNavOpen);
  }

  private void HandleDarkThemeChange(bool newValue)
  {
    IsDarkThemeEnabled = newValue;
  }
}
