@namespace Blatternfly.Components

<li
  @attributes="AdditionalAttributes"
  class="@CssClass"
  id="@ItemId"
>
  <button
    class="pf-c-nav__link"
    id="@ElementId"
    aria-expanded="@AriaExpanded"
    @onclick="HandleExpand"
    @onclick:stopPropagation="true"
  >
    @Title
    <span class="pf-c-nav__toggle">
      <span class="pf-c-nav__toggle-icon">
        <AngleRightIcon aria-hidden="true"/>
      </span>
    </span>
  </button>
  <section class="pf-c-nav__subnav" aria-labelledby="@ExpandableId" hidden="@Hidden">
    @if (!string.IsNullOrEmpty(SrText))
    {
      <h2 class="pf-u-screen-reader" id="@ExpandableId">@SrText</h2>
    }
    <ul class="pf-c-nav__list">
      @ChildContent
    </ul>
  </section>
</li>