@namespace Blatternfly.Components
@inherits BaseComponent
@inject ISequentialIdGenerator SequentialIdGenerator

<section @attributes="AdditionalAttributes" class="@CssClass" aria-labelledby="@GroupId" id="@SectionId">
  <h2 class="pf-c-nav__section-title" id="@GroupId">@Title</h2>
  <ul class="pf-c-nav__list">@ChildContent</ul>
</section>

@code {
  /// Parent Nav control
  [CascadingParameter] public Nav Parent { get; set; }

  /// Title shown for the group.
  [Parameter] public string Title { get; set; }

  private string CssClass => new CssBuilder("pf-c-nav__section")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string _id;
  private string GroupId   { get => !string.IsNullOrEmpty(InternalId) ? InternalId : _id; }
  private string SectionId { get => null; }

  protected override void OnInitialized()
  {
    base.OnInitialized();

    _id = SequentialIdGenerator.GenerateId("pf-c-nav__section");
  }
}