@namespace Blatternfly.Components

<section @attributes="AdditionalAttributes" class="@CssClass" aria-labelledby="@GroupId" id="@SectionId">
  @if (!string.IsNullOrEmpty(Title))
  {
    <h2 class="pf-c-nav__section-title" id="@GroupId">@Title</h2>
  }
  <ul class="pf-c-nav__list">@ChildContent</ul>
</section>