@namespace Blatternfly.Components
@inherits BaseComponent

@if (Parent.IsHorizontal)
{
<button class="pf-c-nav__scroll-button" aria-label="@AriaLeftScroll" @onclick="ScrollLeft" disabled="@_scrollViewAtStart">
  <AngleLeftIcon />
</button>
}
<ul @attributes="AdditionalAttributes" class="pf-c-nav__list @InternalCssClass" @onscroll="HandleScrollButtons">
  @ChildContent
</ul>
@if (Parent.IsHorizontal)
{
<button class="pf-c-nav__scroll-button" aria-label="@AriaRightScroll" @onclick="ScrollRight" disabled="@_scrollViewAtEnd">
  <AngleRightIcon />
</button>
}

@code {
  /// Parent Nav control
  [CascadingParameter] public Nav Parent { get; set; }

  /// aria-label for the left scroll button.
  [Parameter] public string AriaLeftScroll { get; set; } = "Scroll left";

  /// aria-label for the right scroll button.
  [Parameter] public string AriaRightScroll { get; set; } = "Scroll right";
  
  private bool _scrollViewAtStart = true;
  private bool _scrollViewAtEnd   = true;

  private void HandleScrollButtons()
  {
  }

  private void ScrollLeft()
  {
  }

  private void ScrollRight()
  {
  }
}