@namespace Blatternfly.Components

@if (Parent.IsHorizontal)
{
  <button
    class="pf-c-nav__scroll-button"
    aria-label="@AriaLeftScroll"
    disabled="@_scrollViewAtStart"
    @onclick="ScrollLeft"
  >
    <AngleLeftIcon />
  </button>
}
<CascadingValue Value="this" IsFixed="true">
  <ul
    @attributes="AdditionalAttributes"
    class="@CssClass"
    @onscroll="HandleScrollButtons"
    @ref="Element"
  >
    @ChildContent
  </ul>
</CascadingValue>
@if (Parent.IsHorizontal)
{
  <button
    class="pf-c-nav__scroll-button"
    aria-label="@AriaRightScroll"
    disabled="@_scrollViewAtEnd"
    @onclick="ScrollRight"
  >
    <AngleRightIcon />
  </button>
}