@namespace Blatternfly.Components

<div class="@CssClass">
  <div class="pf-c-toolbar__content-section">@ChildContent</div>
  <ToolbarExpandableContent
    id="@ExpandableContentId"
    IsExpanded="@IsExpanded"
    ClearAllFilters="@ClearAllFilters"
    ShowClearFiltersButton="@ShowClearFiltersButton"
    ClearFiltersButtonText="@ClearFiltersButtonText"
  />
</div>