@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <div
    @attributes="AdditionalAttributes"
    class="@CssClass"
    id="@ToolbarId"
  >
    @ChildContent
    <ToolbarChipGroupContent
      IsExpanded="IsExpanded"
      ClearAllFilters="@ClearAllFilters"
      ShowClearFiltersButton="@ShowClearFiltersButton"
      ClearFiltersButtonText="@ClearFiltersButtonText"
      NumberOfFilters="@NumberOfFilters"
      NumberOfFiltersText="@NumberOfFiltersText"
      CollapseListedFiltersBreakpoint="@CollapseListedFiltersBreakpoint"
      CustomChipGroupContent="@CustomChipGroupContent"
    />
  </div>
</CascadingValue>