@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass" hidden="@ContentHidden">
  <ToolbarGroup
    class="@ToolbarGroupClass"
    hidden="@ToolbarGroupHidden"
    aria-hidden="@ToolbarGroupHidden"
  />
  @if (CollapseListedFilters && NumberOfFilters > 0 && !IsExpanded)
  {
    <ToolbarGroup>
      <ToolbarItem>@FormattedNumberOfFiltersText</ToolbarItem>
    </ToolbarGroup>
  }
  @if (ShowClearFiltersButton && !IsExpanded && CustomChipGroupContent is null)
  {
    <ToolbarItem>
      <Button Variant="ButtonVariant.Link" OnClick="@ClearAllFilters">
        @ClearFiltersButtonText
      </Button>
    </ToolbarItem>
  }
  @if (CustomChipGroupContent is not null)
  {
    @CustomChipGroupContent
  }
</div>