@namespace Blatternfly.Components
@inherits BaseComponent
@using Blatternfly.Interop
@inject IWindowObserver WindowObserver

<div class="@CssClass" @attributes="AdditionalAttributes">
  <div class="pf-c-toolbar__toggle">
    <Button
      Variant="ButtonVariant.Plain"
      OnClick="@ToggleIsExpanded"
      AriaLabel="Show Filters"
      aria-expanded="@AriaExpanded"
      aria-haspopup="@AriaHaspopup"
      aria-controls="@ExpandableContentId"
    >
      @ToggleIcon
    </Button>
  </div>
  @ChildContent
</div>

@code {
  [CascadingParameter] public Toolbar Parent { get; set; }

  /// An icon to be rendered when the toggle group has collapsed down.
  [Parameter] public RenderFragment ToggleIcon { get; set; }

  /// Controls when filters are shown and when the toggle button is hidden.
  [Parameter] public CollapseFilterBreakpoints? Breakpoint { get; set; }

  /// Visibility at various breakpoints.
  [Parameter] public Visibility Visibility { get; set; }

  /// A type modifier which modifies spacing specifically depending on the type of group.
  [Parameter] public ToolbarGroupVariant? Variant { get; set; }

  /// Alignment at various breakpoints..
  [Parameter] public Alignment Alignment { get; set; }

  /// Spacers at various breakpoints..
  [Parameter] public ToolbarSpacer ToolbarSpacer { get; set; }

  /// Space items at various breakpoints..
  [Parameter] public ToolbarSpaceItem ToolbarSpaceItems { get; set; }

  [Parameter] public EventCallback<MouseEventArgs> ToggleIsExpanded { get; set; }

  private string CssClass => new CssBuilder("pf-c-toolbar__group pf-m-toggle-group")
    .AddClass(VariantClass)
    .AddClass(BreakpointClass)
    .AddClass(Visibility?.CssClass())
    .AddClass(Alignment?.CssClass())
    .AddClass(ToolbarSpacer?.CssClass())
    .AddClass(ToolbarSpaceItems?.CssClass())
    .Build();

  private string VariantClass
  {
    get => Variant switch
    {
        ToolbarGroupVariant.FilterGroup     => "pf-m-filter-group",
        ToolbarGroupVariant.IconButtonGroup => "pf-m-icon-button-group",
        ToolbarGroupVariant.ButtonGroup     => "pf-m-button-group",
        _                                   => null
    };
  }

  private string BreakpointClass
  {
    get => Breakpoint switch
    {
      CollapseFilterBreakpoints.All         => "pf-m-show",
      CollapseFilterBreakpoints.Small       => "pf-m-show-on-sm",
      CollapseFilterBreakpoints.Medium      => "pf-m-show-on-md",
      CollapseFilterBreakpoints.Large       => "pf-m-show-on-lg",
      CollapseFilterBreakpoints.ExtraLarge  => "pf-m-show-on-xl",
      CollapseFilterBreakpoints.ExtraLarge2 => "pf-m-show-on-2xl",
      _                                     => null
    };
  }

  private Size<int> _windowSize;
  private string    AriaExpanded        { get => Parent.IsExpanded ? "true" : null; }
  private string    AriaHaspopup        { get => Parent.IsExpanded ? IsContentPopup() : null; }
  private string    ExpandableContentId { get => ""; }

  private string IsContentPopup()
  {
    return _windowSize.Width < GlobalBreakpoints.Large ? "true" : null;
  }

  protected override async Task OnParametersSetAsync()
  {
    await base.OnParametersSetAsync();

    if (!Breakpoint.HasValue || ToggleIcon is null)
    {
      throw new Exception("ToolbarToggleGroup will not be visible without a breakpoint or toggleIcon.");
    }

    _windowSize = await WindowObserver.GetWindowSizeAsync();
  }
}