@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-toolbar__toggle">
    <Button
      Variant="ButtonVariant.Plain"
      OnClick="@ToggleIsExpanded"
      AriaLabel="Show Filters"
      aria-expanded="@AriaExpanded"
      aria-haspopup="@AriaHaspopup"
      aria-controls="@ExpandableContentId"
    >
      @ToggleIcon
    </Button>
  </div>
  @ChildContent
</div>