@namespace Blatternfly.Components

<td @attributes="AdditionalAttributes" data-label="@DataLabelValue" class="@CssClass" style="@CssStyle">
  @if (Select is not null)
  {
    <Selectable
      OnSelect="@OnSelect"
      SelectVariant="@Select.Variant"
      IsHeaderSelectDisabled="@Select.Disable"
      IsSelected="@Select.IsSelected"
      RowIndex="@Select.RowIndex"
    >
      @ChildContent
    </Selectable>
  }
  else if (Expand is not null)
  {
    <Collapsible
      OnCollapse="@OnToggle"
      RowIndex="@Expand.RowIndex"
      ColumnIndex="@Expand.ColumnIndex"
      IsOpen="@Expand.IsExpanded"
    >
      @ChildContent
    </Collapsible>
  }
  else
  {
    @ChildContent
  }
</td>