<Label>Grey</Label>
<Label><Icon><InfoCircleIcon /></Icon> <ChildContent>Grey icon</ChildContent></Label>
<Label OnClose="@OnClose">Grey removable</Label>
<Label OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Grey icon removable</ChildContent>
</Label>
<Label href="#filled">Grey link</Label>
<Label href="#filled" OnClose="@OnClose">
  Grey link removable
</Label>
<Label OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Grey label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Blue">Blue</Label>
<Label Color="LabelColor.Blue">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Blue icon</ChildContent>
</Label>
<Label Color="LabelColor.Blue" OnClose="@OnClose">
  Blue removable
</Label>
<Label Color="LabelColor.Blue" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Blue icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Blue" href="#filled">
  Blue link
</Label>
<Label Color="LabelColor.Blue" href="#filled" OnClose="@OnClose">
  Blue link removable
</Label>
<Label Color="LabelColor.Blue" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Blue label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Green">Green</Label>
<Label Color="LabelColor.Green">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Green icon</ChildContent>
</Label>
<Label Color="LabelColor.Green" OnClose="@OnClose">
  Green removable
</Label>
<Label Color="LabelColor.Green" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Green icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Green" href="#filled">
  Green link
</Label>
<Label Color="LabelColor.Green" href="#filled" OnClose="@OnClose">
  Green link removable
</Label>
<Label Color="LabelColor.Green" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Green label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Orange">Blue</Label>
<Label Color="LabelColor.Orange">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Orange icon</ChildContent>
</Label>
<Label Color="LabelColor.Orange" OnClose="@OnClose">
  Orange removable
</Label>
<Label Color="LabelColor.Orange" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Orange icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Orange" href="#filled">
  Orange link
</Label>
<Label Color="LabelColor.Orange" href="#filled" OnClose="@OnClose">
  Orange link removable
</Label>
<Label Color="LabelColor.Orange" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Orange label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Red">Red</Label>
<Label Color="LabelColor.Red">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Red icon</ChildContent>
</Label>
<Label Color="LabelColor.Red" OnClose="@OnClose">
  Red removable
</Label>
<Label Color="LabelColor.Red" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Red icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Red" href="#filled">
  Red link
</Label>
<Label Color="LabelColor.Red" href="#filled" OnClose="@OnClose">
  Red link removable
</Label>
<Label Color="LabelColor.Red" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Red label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Purple">Purple</Label>
<Label Color="LabelColor.Purple">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Purple icon</ChildContent>
</Label>
<Label Color="LabelColor.Purple" OnClose="@OnClose">
  Purple removable
</Label>
<Label Color="LabelColor.Purple" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Purple icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Purple" href="#filled">
  Purple link
</Label>
<Label Color="LabelColor.Purple" href="#filled" OnClose="@OnClose">
  Purple link removable
</Label>
<Label Color="LabelColor.Purple" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Purple label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Cyan">Cyan</Label>
<Label Color="LabelColor.Cyan">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Cyan icon</ChildContent>
</Label>
<Label Color="LabelColor.Cyan" OnClose="@OnClose">
  Cyan removable
</Label>
<Label Color="LabelColor.Cyan" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Cyan icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Cyan" href="#filled">
  Cyan link
</Label>
<Label Color="LabelColor.Cyan" href="#filled" OnClose="@OnClose">
  Cyan link removable
</Label>
<Label Color="LabelColor.Cyan" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Cyan label with icon that overflows</ChildContent>
</Label>
<br />
<br />
<Label Color="LabelColor.Gold">Gold</Label>
<Label Color="LabelColor.Gold">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Gold icon</ChildContent>
</Label>
<Label Color="LabelColor.Gold" OnClose="@OnClose">
  Cyan removable
</Label>
<Label Color="LabelColor.Gold" OnClose="@OnClose">
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Gold icon removable</ChildContent>
</Label>
<Label Color="LabelColor.Gold" href="#filled">
  Cyan link
</Label>
<Label Color="LabelColor.Gold" href="#filled" OnClose="@OnClose">
  Cyan link removable
</Label>
<Label Color="LabelColor.Gold" OnClose="@OnClose" IsTruncated>
  <Icon><InfoCircleIcon /></Icon>
  <ChildContent>Gold label with icon that overflows</ChildContent>
</Label>

@code {
  private void OnClose(MouseEventArgs args)
  {
  }
}