@page "/components/label"

<TextContent>
  <Title class="pf-u-mb-md">Label</Title>
  <Text class="pf-u-mb-md">
    A <strong>label</strong> highlights an element on a page to draw attention to it or make it more searchable.
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/label/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#filled">Filled</JumpLinksItem>
            <JumpLinksItem Href="#outline">Outline</JumpLinksItem>
            <JumpLinksItem Href="#compact">Compact</JumpLinksItem>
            <JumpLinksItem Href="#router-Link">Router Link</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="filled" class="example-section">
      <Title Size="TitleSizes.Large">Filled</Title>
      <Label>Grey</Label>
      <Label><Icon><InfoCircleIcon /></Icon> <ChildContent>Grey icon</ChildContent></Label>
      <Label OnClose="@OnClose">Grey removable</Label>
      <Label OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Grey icon removable</ChildContent>
      </Label>
      <Label href="#filled">Grey link</Label>
      <Label href="#filled" OnClose="@OnClose">
        Grey link removable
      </Label>
      <Label OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Grey label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Color="LabelColor.Blue">Blue</Label>
      <Label Color="LabelColor.Blue">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Blue icon</ChildContent>
      </Label>
      <Label Color="LabelColor.Blue" OnClose="@OnClose">
        Blue removable
      </Label>
      <Label Color="LabelColor.Blue" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Blue icon removable</ChildContent>
      </Label>
      <Label Color="LabelColor.Blue" href="#filled">
        Blue link
      </Label>
      <Label Color="LabelColor.Blue" href="#filled" OnClose="@OnClose">
        Blue link removable
      </Label>
      <Label Color="LabelColor.Blue" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Blue label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Color="LabelColor.Green">Green</Label>
      <Label Color="LabelColor.Green">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Green icon</ChildContent>
      </Label>
      <Label Color="LabelColor.Green" OnClose="@OnClose">
        Green removable
      </Label>
      <Label Color="LabelColor.Green" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Green icon removable</ChildContent>
      </Label>
      <Label Color="LabelColor.Green" href="#filled">
        Green link
      </Label>
      <Label Color="LabelColor.Green" href="#filled" OnClose="@OnClose">
        Green link removable
      </Label>
      <Label Color="LabelColor.Green" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Green label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Color="LabelColor.Orange">Blue</Label>
      <Label Color="LabelColor.Orange">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Orange icon</ChildContent>
      </Label>
      <Label Color="LabelColor.Orange" OnClose="@OnClose">
        Orange removable
      </Label>
      <Label Color="LabelColor.Orange" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Orange icon removable</ChildContent>
      </Label>
      <Label Color="LabelColor.Orange" href="#filled">
        Orange link
      </Label>
      <Label Color="LabelColor.Orange" href="#filled" OnClose="@OnClose">
        Orange link removable
      </Label>
      <Label Color="LabelColor.Orange" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Orange label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Color="LabelColor.Red">Red</Label>
      <Label Color="LabelColor.Red">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Red icon</ChildContent>
      </Label>
      <Label Color="LabelColor.Red" OnClose="@OnClose">
        Red removable
      </Label>
      <Label Color="LabelColor.Red" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Red icon removable</ChildContent>
      </Label>
      <Label Color="LabelColor.Red" href="#filled">
        Red link
      </Label>
      <Label Color="LabelColor.Red" href="#filled" OnClose="@OnClose">
        Red link removable
      </Label>
      <Label Color="LabelColor.Red" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Red label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Color="LabelColor.Purple">Purple</Label>
      <Label Color="LabelColor.Purple">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Purple icon</ChildContent>
      </Label>
      <Label Color="LabelColor.Purple" OnClose="@OnClose">
        Purple removable
      </Label>
      <Label Color="LabelColor.Purple" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Purple icon removable</ChildContent>
      </Label>
      <Label Color="LabelColor.Purple" href="#filled">
        Purple link
      </Label>
      <Label Color="LabelColor.Purple" href="#filled" OnClose="@OnClose">
        Purple link removable
      </Label>
      <Label Color="LabelColor.Purple" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Purple label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Color="LabelColor.Cyan">Cyan</Label>
      <Label Color="LabelColor.Cyan">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Cyan icon</ChildContent>
      </Label>
      <Label Color="LabelColor.Cyan" OnClose="@OnClose">
        Cyan removable
      </Label>
      <Label Color="LabelColor.Cyan" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Cyan icon removable</ChildContent>
      </Label>
      <Label Color="LabelColor.Cyan" href="#filled">
        Cyan link
      </Label>
      <Label Color="LabelColor.Cyan" href="#filled" OnClose="@OnClose">
        Cyan link removable
      </Label>
      <Label Color="LabelColor.Cyan" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Cyan label with icon that overflows</ChildContent>
      </Label>
    </section>

    <section id="outline" class="example-section">
      <Title Size="TitleSizes.Large">Outline</Title>
      <Label Variant="LabelVariant.Outline">Grey</Label>
      <Label Variant="LabelVariant.Outline"><Icon><InfoCircleIcon /></Icon> <ChildContent>Grey icon</ChildContent></Label>
      <Label Variant="LabelVariant.Outline" OnClose="@OnClose">Grey removable</Label>
      <Label Variant="LabelVariant.Outline" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Grey icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" href="#filled">Grey link</Label>
      <Label Variant="LabelVariant.Outline" href="#filled" OnClose="@OnClose">
        Grey link removable
      </Label>
      <Label Variant="LabelVariant.Outline" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Grey label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue">Blue</Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Blue icon</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue" OnClose="@OnClose">
        Blue removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Blue icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue" href="#filled">
        Blue link
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue" href="#filled" OnClose="@OnClose">
        Blue link removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Blue" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Blue label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green">Green</Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Green icon</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green" OnClose="@OnClose">
        Green removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Green icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green" href="#filled">
        Green link
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green" href="#filled" OnClose="@OnClose">
        Green link removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Green" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Green label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange">Blue</Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Orange icon</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange" OnClose="@OnClose">
        Orange removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Orange icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange" href="#filled">
        Orange link
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange" href="#filled" OnClose="@OnClose">
        Orange link removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Orange" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Orange label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red">Red</Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Red icon</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red" OnClose="@OnClose">
        Red removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Red icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red" href="#filled">
        Red link
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red" href="#filled" OnClose="@OnClose">
        Red link removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Red" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Red label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple">Purple</Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Purple icon</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple" OnClose="@OnClose">
        Purple removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Purple icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple" href="#filled">
        Purple link
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple" href="#filled" OnClose="@OnClose">
        Purple link removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Purple" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Purple label with icon that overflows</ChildContent>
      </Label>
      <br />
      <br />
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan">Cyan</Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Cyan icon</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan" OnClose="@OnClose">
        Cyan removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan" OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Cyan icon removable</ChildContent>
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan" href="#filled">
        Cyan link
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan" href="#filled" OnClose="@OnClose">
      Cyan link removable
      </Label>
      <Label Variant="LabelVariant.Outline" Color="LabelColor.Cyan" OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Cyan label with icon that overflows</ChildContent>
      </Label>
    </section>

    <section id="compact" class="example-section">
      <Title Size="TitleSizes.Large">Compact</Title>
      <Label IsCompact>Grey</Label>
      <Label IsCompact>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Compact icon</ChildContent>
      </Label>
      <Label IsCompact OnClose="@OnClose">
        Compact removable
      </Label>
      <Label IsCompact OnClose="@OnClose">
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Compact icon removable</ChildContent>
      </Label>
      <Label IsCompact href="#outline">
        Compact link
      </Label>
      <Label IsCompact href="#outline" OnClose="@OnClose">
        Compact link removable
      </Label>
      <Label IsCompact OnClose="@OnClose" IsTruncated>
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>Compact label with icon that overflows</ChildContent>
      </Label>
    </section>

    <section id="router-Link" class="example-section">
      <Title Size="TitleSizes.Large">Router Link</Title>
      <Label
        Color="LabelColor.Blue"
        OnClose="@OnClose"
        IsTruncated
      >
        <Icon><InfoCircleIcon /></Icon>
        <ChildContent>
          <NavLink href="/">
            Blue label router link with icon that overflows
          </NavLink>
        </ChildContent>
      </Label>
    </section>
  </FlexItem>
</Flex>

@code {
  private void OnClose(MouseEventArgs args)
  {
  }
}