@namespace Blatternfly.Components

<nav @attributes="AdditionalAttributes" class="@CssClass" aria-label="@PaginationTitle">
  @if (!IsCompact)
  {
    <div class="pf-c-pagination__nav-control pf-m-first">
      <Button
        Variant="ButtonVariant.Plain"
        IsDisabled="@(IsDisabled || Page == FirstPage || Page == 0)"
        AriaLabel="@ToFirstPage"
        data-action="first"
        OnClick="@FirstHandler"
      >
        <AngleDoubleLeftIcon />
      </Button>
    </div>
  }
  <div class="pf-c-pagination__nav-control">
    <Button
      Variant="ButtonVariant.Plain"
      IsDisabled="@(IsDisabled || Page == FirstPage || Page == 0)"
      data-action="previous"
      OnClick="@PreviousHandler"
      AriaLabel="@ToPreviousPage"
    >
      <AngleLeftIcon />
    </Button>
  </div>
  @if (!IsCompact)
  {
    <div class="pf-c-pagination__nav-page-select">
      <input
        class="pf-c-form-control"
        aria-label="@CurrPage"
        type="number"
        disabled="@(IsDisabled || (ItemCount.HasValue && Page == FirstPage && Page == LastPage && ItemCount.Value >= 0) || Page == 0)"
        min="@(LastPage <= 0 && FirstPage <= 0 ? 0 : 1)"
        max="@LastPage"
        value="@UserInputPage"
        @onkeydown="@OnKeyDown"
        @onkeydown:stopPropagation="true"
        @onchange="@OnChange"
      />
      @if (ItemCount.HasValue)
      {
        <span aria-hidden="true">
          @OfWord @PagesTitleText
        </span>
      }
    </div>
  }
  <div class="pf-c-pagination__nav-control">
    <Button
      Variant="ButtonVariant.Plain"
      IsDisabled="@(IsDisabled || Page == LastPage)"
      AriaLabel="@ToNextPage"
      data-action="next"
      OnClick="@NextHandler"
    >
      <AngleRightIcon />
    </Button>
  </div>
  @if (!IsCompact)
  {
    <div class="pf-c-pagination__nav-control pf-m-last">
      <Button
        Variant="ButtonVariant.Plain"
        IsDisabled="@(IsDisabled || Page == LastPage)"
        AriaLabel="@ToLastPage"
        data-action="last"
        OnClick="@LastHandler"
      >
        <AngleDoubleRightIcon />
      </Button>
    </div>
  }
</nav>