@namespace Blatternfly.Components

@if (IsDiv)
{
  <div class="@CssClass">
    @if (ShowToggle)
    {
      <span class="pf-c-options-menu__toggle-text">
        @if (ToggleTemplate is not null)
        {
          @ToggleTemplate(CustomToggleTemplateProps)
        }
        else
        {
          <ToggleTemplate
            FirstIndex="@FirstIndex"
            LastIndex="@LastIndex"
            OfWord="@OfWord"
            ItemCount="@ItemCount"
            ItemsTitle="@ItemsTitle"
          />
        }
      </span>
      <DropdownToggle
        OnEnter="@OnEnter"
        AriaLabel="@DropdownAriaLabel"
        OnToggle="@OnToggle"
        IsDisabled="@(IsDisabled || ItemCount is <= 0)"
        IsOpen="IsOpen"
        id="@DropdownToggleId"
        ToggleClass="@DropdownToggleCssClass"
        ToggleTextClass="@ToggleTextClass"
        ToggleIndicatorClass="@ToggleIndicatorClass"
        AriaHasPopup="AriaPopupVariant.Listbox"
      />
    }
  </div>
}
else
{
  @if (ShowToggle)
  {
    <DropdownToggle
      OnEnter="@OnEnter"
      AriaLabel="@DropdownAriaLabel"
      OnToggle="@OnToggle"
      IsDisabled="@(IsDisabled || ItemCount is <= 0)"
      IsOpen="IsOpen"
      id="@DropdownToggleId"
      ToggleClass="@DropdownToggleCssClass"
      ToggleTextClass="@ToggleTextClass"
      ToggleIndicatorClass="@ToggleIndicatorClass"
      AriaHasPopup="AriaPopupVariant.Listbox"
    >
      @if (ToggleTemplate is not null)
      {
        @ToggleTemplate(CustomToggleTemplateProps)
      }
      else
      {
        <ToggleTemplate
          FirstIndex="@FirstIndex"
          LastIndex="@LastIndex"
          OfWord="@OfWord"
          ItemCount="@ItemCount"
          ItemsTitle="@ItemsTitle"
        />
      }
    </DropdownToggle>
  }
}