@namespace Blatternfly.Components
@inject IComponentIdGenerator ComponentIdGenerator

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
  id="@ComponentId"
  style="@InputStyle"
>
  @if (Variant is PaginationVariant.Top)
  {
    <div class="pf-c-pagination__total-items">
      @if (ToggleTemplate is not null)
      {
        @ToggleTemplate(CustomToggleTemplateProps)
      }
      else
      {
        <ToggleTemplate
          FirstIndex="@FirstIndex"
          LastIndex="@LastIndex"
          ItemCount="@ItemCount"
          ItemsTitle="@Titles?.Items"
          OfWord="@Titles?.OfWord"
        />
      }
    </div>
  }
  <PaginationOptionsMenu
    ItemsPerPageTitle="@Titles?.ItemsPerPage"
    PerPageSuffix="@Titles?.PerPageSuffix"
    ItemsTitle="@(IsCompact ? null : Titles?.Items)"
    OptionsToggle="@Titles?.OptionsToggle"
    PerPageOptions="@PerPageOptions"
    FirstIndex="@(ItemsStart > 0 ? ItemsStart : FirstIndex)"
    LastIndex="@(ItemsEnd > 0 ? ItemsEnd : LastIndex)"
    OfWord="@Titles?.OfWord"
    DefaultToFullPage="@DefaultToFullPage"
    ItemCount="@ItemCount"
    Page="@Page"
    PerPage="@PerPage"
    LastPage="@LastPage"
    OnPerPageSelect="@OnPerPageSelect"
    DropDirection="@OptionsMenuDirection"
    WidgetId="@WidgetId"
    OptionsToggleId="@OptionsToggleId"
    IsDisabled="@IsDisabled"
    ToggleTemplate="@ToggleTemplate"
    PerPageComponent="@PerPageComponent"
  />
  <Navigation
    PagesTitle="@Titles?.Page"
    PagesTitlePlural="@Titles?.Pages"
    ToLastPage="@Titles?.ToLastPage"
    ToPreviousPage="@Titles?.ToPreviousPage"
    ToNextPage="@Titles?.ToNextPage"
    ToFirstPage="@Titles?.ToFirstPage"
    CurrPage="@Titles?.CurrPage"
    PaginationTitle="@Titles?.PaginationTitle"
    OfWord="@Titles?.OfWord"
    Page="@(ItemCount.HasValue && ItemCount.Value <= 0 ? 0 : Page)"
    PerPage="@PerPage"
    ItemCount="@ItemCount"
    FirstPage="@(ItemsStart > 0 ? ItemsStart : 1)"
    LastPage="@LastPage"
    OnSetPage="@OnSetPage"
    OnFirstClick="@OnFirstClick"
    OnPreviousClick="@OnPreviousClick"
    OnNextClick="@OnNextClick"
    OnLastClick="@OnLastClick"
    OnPageInput="@OnPageInput"
    isDisabled="@IsDisabled"
    IsCompact="@IsCompact"
  />
  @ChildContent
</div>