<div>
  <span id="@TitleId" hidden>
    Placeholder styles
  </span>
  <Select
    Variant="SelectVariant.Single"
    HasPlaceholderStyle
    AriaLabel="Select Input"
    OnToggle="@OnToggle"
    OnSelect="@OnSelect"
    Selections="@Selected"
    IsOpen="@IsOpen"
    PlaceholderText="Filter by status"
    aria-labelledby="@TitleId"
  >
    <ChildContent>
      <SelectOption @key="0" Value="Active" />
      <SelectOption @key="1" Value="Cancelled" />
      <SelectOption @key="2" Value="Paused" />
    </ChildContent>
  </Select>
</div>

@code {
  public string TitleId => "title-id-1";

  public bool   IsOpen       { get; set; }
  public bool   IsDisabled   { get; set; }
  public string Selected     { get; set; }

  public void OnToggle(bool isOpen) => IsOpen = isOpen;

  public void OnSelect(SelectOption selection)
  {
    if (selection.IsPlaceholder)
    {
      ClearSelection();
    }
    else
    {
      Selected = selection.Value;
      IsOpen   = false;
    }
  }

  public void ClearSelection()
  {
    Selected = null;
    IsOpen   = false;
  }
}