@namespace Blatternfly.Components

@if (Icon is not null || AlertSeverityVariant.HasValue)
{
  <header @attributes="AdditionalAttributes" class="@HeaderCssClass">
    <TitleHeadingLevel HeadingLevel="@TitleHeadingLevelValue" class="@HeaderTitleCssClass">
      @if (Icon is not null)
      {
        <PopoverHeaderIcon>@Icon</PopoverHeaderIcon>
      }
      @if (AlertSeverityVariant.HasValue && !string.IsNullOrEmpty(AlertSeverityScreenReaderText))
      {
        <span class="pf-u-screen-reader">@AlertSeverityScreenReaderText</span>
      }
      <PopoverHeaderText>@ChildContent</PopoverHeaderText>
    </TitleHeadingLevel>
  </header>
}
else
{
  <Title
    @attributes="AdditionalAttributes"
    HeadingLevel="@TitleHeadingLevelValue"
    Size="TitleSizes.Medium"
    class="@TitleCssClass"
  >
    @ChildContent
  </Title>
}
