@namespace Blatternfly.Components

<button
  id="@Id"
  type="@ButtonToggleType"
  class="@CssClass"
  aria-label="@AriaLabel"
  aria-expanded="@AriaExpanded"
  aria-haspopup="listbox"
  @onclick="@ToggleHandler"
  disabled="@IsDisabled"
  @attributes="AdditionalAttributes"
  @ref="Element"
>
  @ChildContent
  <span class="pf-c-select__toggle-arrow">
    <CaretDownIcon />
  </span>
</button>