@namespace Blatternfly.Components

<Backdrop>
  <FocusTrap class="pf-l-bullseye" Active="@(!DisableFocusTrap)" FocusTrapOptions="@FocusTrapOptions">
    <ModalBox
      id="@BoxId"
      style="@BoxStyle"
      class="@CssClass"
      Variant="@Variant"
      Position="@Position"
      PositionOffset="@PositionOffset"
      AriaLabel="@AriaLabel"
      AriaLabelledBy="@AriaLabelledByFormatted"
      AriaDescribedBy="@AriaDescribedByValue"
      @onkeydown="KeydownHandler"
    >
      @if (ShowClose)
      {
        <ModalBoxCloseButton OnClose="@OnClose" />
      }
      @if (Header is not null)
      {
        <ModalBoxHeader Help="@Help">
          <ChildContent>@Header</ChildContent>
        </ModalBoxHeader>
      }
      else if (!string.IsNullOrEmpty(Title))
      {
        <ModalBoxHeader Help="@Help">
          <ChildContent>
            <ModalBoxTitle
              TitleIconVariant="@TitleIconVariant"
              TitleLabel="@TitleLabel"
              id="@LabelId"
            >
              <CustomTitleIcon>@CustomTitleIcon</CustomTitleIcon>
              <Title>@Title</Title>
            </ModalBoxTitle>
            @if (Description is not null)
            {
              <ModalBoxDescription id="@DescriptorId">@Description</ModalBoxDescription>
            }
          </ChildContent>
        </ModalBoxHeader>
      }
      @if (HasNoBodyWrapper)
      {
        @ChildContent
      }
      else
      {
        <ModalBoxBody
          @attributes="AdditionalAttributes"
          aria-label="@BodyAriaLabel"
          role="@BodyRole"
          id="@ModalBodyId"
        >
          @ChildContent
        </ModalBoxBody>
      }
      @if (Footer is not null)
      {
        <ModalBoxFooter>@Footer</ModalBoxFooter>
      }
      else if (Actions is not null)
      {
        <ModalBoxFooter>@Actions</ModalBoxFooter>
      }
    </ModalBox>
  </FocusTrap>
</Backdrop>