@namespace Blatternfly.Components

@if (IsTooltipVisible)
{
  <Tooltip id="@TooltipId" Reference="@TitleId">
    <Content>
      @Title
    </Content>
    <ChildContent>
      @Content
    </ChildContent>
  </Tooltip>
}
else
{
  @Content
}

@code {
  private RenderFragment Content =>
    @<h1
      @attributes="AdditionalAttributes"
      id="@TitleId"
      class="@CssClass"
      @ref="Element"
    >
      @if (TitleIconVariant.HasValue)
      {
        <span class="pf-c-modal-box__title-icon">
          @if (TitleIconVariant is ModalTitleVariant.Danger)
          {
            <ExclamationCircleIcon />
          }
          else if (TitleIconVariant is ModalTitleVariant.Default)
          {
            <BellIcon />
          }
          else if (TitleIconVariant is ModalTitleVariant.Info)
          {
            <InfoCircleIcon />
          }
          else if (TitleIconVariant is ModalTitleVariant.Success)
          {
            <CheckCircleIcon />
          }
          else if (TitleIconVariant is ModalTitleVariant.Warning)
          {
            <ExclamationTriangleIcon />
          }
          else if (TitleIconVariant is ModalTitleVariant.Custom)
          {
            @CustomTitleIcon
          }
        </span>
      }

      @if (!string.IsNullOrEmpty(Label))
      {
        <span class="pf-u-screen-reader">@Label</span>
      }
      <span class="pf-c-modal-box__title-text">@Title</span>
    </h1>;
}