@namespace Blatternfly.Components

<div
  @attributes="AdditionalAttributes"
  role="dialog"
  aria-label="@AriaLabel"
  aria-labelledby="@AriaLabelledBy"
  aria-describedby="@AriaDescribedBy"
  aria-modal="true"
  class="@CssClass"
  style="@CssStyle"
>
  @ChildContent
</div>
