@namespace Blatternfly.Components

@if (IsSearchMenuOpen)
{
  <Panel Variant="PanelVariant.Raised" class="@CssClass">
    <PanelMain>
      <PanelMainBody>
        <Form Model="@Attributes">
          @foreach (var attr in InternalAttributes)
          {
            @if (Array.IndexOf(Attributes, attr) == 0)
            {
              <FormGroup
                Label="@attr.Display"
                FieldId="@FormatFieldId(attr)"
                @key="attr"
              >
                <TextInput
                  Type="TextInputTypes.Text"
                  id="@FormatFieldId(attr)"
                  Value="@GetValue(attr)"
                  ValueExpression="@(() => attr.Attribute)"
                  ValueChanged="@((string newValue) => HandleValueChange(attr, newValue))"
                  @ref="FirstAttrRef"
                />
              </FormGroup>
            }
            else
            {
              <FormGroup
                Label="@attr.Display"
                FieldId="@FormatFieldId(attr)"
                @key="attr"
              >
                <TextInput
                  Type="TextInputTypes.Text"
                  id="@FormatFieldId(attr)"
                  Value="@GetValue(attr)"
                  ValueExpression="@(() => attr.Attribute)"
                  ValueChanged="@((string newValue) => HandleValueChange(attr, newValue))"
                />
              </FormGroup>
            }
          }

          @FormAdditionalItems
          <ActionGroup>
            <Button Variant="ButtonVariant.Primary" Type="ButtonType.Submit" OnClick="@OnSearchHandler">
              @SubmitSearchButtonLabel
            </Button>
            @if (OnClear.HasDelegate)
            {
              <Button Variant="ButtonVariant.Link" Type="ButtonType.Reset" OnClick="@OnClear">
                @ResetButtonLabel
              </Button>
            }
          </ActionGroup>
        </Form>
      </PanelMainBody>
    </PanelMain>
  </Panel>
}
