<NotificationDrawer>
  <NotificationDrawerHeader Count="4">
    <Dropdown IsPlain id="groups-notification-1" Position="DropdownPosition.Right">
      <Toggle>
        <KebabToggle id="groups-kebab-toggle-1" />
      </Toggle>
      <DropdownItems>
        <DropdownItem @key="1">Link</DropdownItem>
        <DropdownItem @key="2" Component="button">
          Action
        </DropdownItem>
        <DropdownSeparator @key="3" />
        <DropdownItem @key="4" IsDisabled>
          Disabled link
        </DropdownItem>
      </DropdownItems>
    </Dropdown>
  </NotificationDrawerHeader>
  <NotificationDrawerBody>
    <NotificationDrawerGroupList>
      <NotificationDrawerGroup
        Title="First notification group"
        IsExpanded="@FirstGroupExpanded"
        Count="2"
        OnExpand="@ToggleFirstDrawer"
      >
        <NotificationDrawerList IsHidden="@FirstGroupHidden">
          <NotificationDrawerListItem Variant="SeverityLevel.Info">
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Info"
              Title="Unread info notification title"
              ScreenReaderTitle="Info notification:"
            >
              <Dropdown IsPlain id="groups-notification-2" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-2" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>5 minutes ago</Timestamp>
              <ChildContent>This is an info notification description.</ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
          <NotificationDrawerListItem Variant="SeverityLevel.Danger">
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Danger"
              Title="Unread danger notification title. This is a long title to show how the title will wrap if it is long and wraps to multiple lines."
              ScreenReaderTitle="Danger notification:"
            >
              <Dropdown IsPlain id="groups-notification-3" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-3" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>10 minutes ago</Timestamp>
              <ChildContent>
                This is a danger notification description. This is a long description to show how the title will
                wrap if it is long and wraps to multiple lines.
              </ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
          <NotificationDrawerListItem Variant="SeverityLevel.Warning" IsRead>
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Warning"
              Title="Read warning notification title"
              ScreenReaderTitle="Warning notification:"
            >
              <Dropdown IsPlain id="groups-notification-4" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-4" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>20 minutes ago</Timestamp>
              <ChildContent>This is a warning notification description.</ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
          <NotificationDrawerListItem Variant="SeverityLevel.Success" IsRead>
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Success"
              Title="Read success notification title"
              ScreenReaderTitle="Success notification:"
            >
              <Dropdown IsPlain id="groups-notification-5" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-5" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>30 minutes ago</Timestamp>
              <ChildContent>This is a success notification description.</ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
        </NotificationDrawerList>
      </NotificationDrawerGroup>
      <NotificationDrawerGroup
        Title="Second notification group. This is a long title to show how the title will be truncated if it is long and will be shown in a single line."
        IsExpanded="@SecondGroupExpanded"
        Count="0"
        OnExpand="@ToggleSecondDrawer"
        TruncateTitle="1"
      >
        <NotificationDrawerList IsHidden="@SecondGroupHidden">
          <EmptyState Variant="EmptyStateVariant.Full">
            <EmptyStateIcon><SearchIcon /></EmptyStateIcon>
            <Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.Large">
              No alerts found
            </Title>
            <EmptyStateBody>
              There are currently no critical alerts firing. There may be firing alerts of other severities or
              silenced critical alerts however.
            </EmptyStateBody>
            <EmptyStatePrimary>
              <Button Variant="@ButtonVariant.Link">Action</Button>
            </EmptyStatePrimary>
          </EmptyState>
        </NotificationDrawerList>
      </NotificationDrawerGroup>
      <NotificationDrawerGroup
        Title="Third notification group"
        IsExpanded="@ThirdGroupExpanded"
        Count="2"
        OnExpand="@ToggleThirdDrawer"
      >
        <NotificationDrawerList IsHidden="@ThirdGroupHidden">
          <NotificationDrawerListItem Variant="SeverityLevel.Info">
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Info"
              Title="Unread info notification title"
              ScreenReaderTitle="Info notification:"
            >
              <Dropdown IsPlain id="groups-notification-6" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-6" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>5 minutes ago</Timestamp>
              <ChildContent>This is an info notification description.</ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
          <NotificationDrawerListItem Variant="SeverityLevel.Danger">
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Danger"
              Title="Unread danger notification title. This is a long title to show how the title will wrap if it is long and wraps to multiple lines."
              ScreenReaderTitle="Danger notification:"
            >
              <Dropdown IsPlain id="groups-notification-7" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-7" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>10 minutes ago</Timestamp>
              <ChildContent>
                This is a danger notification description. This is a long description to show how the title will
                wrap if it is long and wraps to multiple lines.
              </ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
          <NotificationDrawerListItem Variant="SeverityLevel.Warning" IsRead>
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Warning"
              Title="Read warning notification title"
              ScreenReaderTitle="Warning notification:"
            >
              <Dropdown IsPlain id="groups-notification-8" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-8" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>20 minutes ago</Timestamp>
              <ChildContent>This is a warning notification description.</ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
          <NotificationDrawerListItem Variant="SeverityLevel.Success" IsRead>
            <NotificationDrawerListItemHeader
              Variant="SeverityLevel.Success"
              Title="Read success notification title"
              ScreenReaderTitle="Success notification:"
            >
              <Dropdown IsPlain id="groups-notification-9" Position="DropdownPosition.Right">
                <Toggle>
                  <KebabToggle id="groups-kebab-toggle-9" />
                </Toggle>
                <DropdownItems>
                  <DropdownItem @key="1">Link</DropdownItem>
                  <DropdownItem @key="2" Component="button">
                    Action
                  </DropdownItem>
                  <DropdownSeparator @key="3" />
                  <DropdownItem @key="4" IsDisabled>
                    Disabled link
                  </DropdownItem>
                </DropdownItems>
              </Dropdown>
            </NotificationDrawerListItemHeader>
            <NotificationDrawerListItemBody>
              <Timestamp>30 minutes ago</Timestamp>
              <ChildContent>This is a success notification description.</ChildContent>
            </NotificationDrawerListItemBody>
          </NotificationDrawerListItem>
        </NotificationDrawerList>
      </NotificationDrawerGroup>
    </NotificationDrawerGroupList>
  </NotificationDrawerBody>
</NotificationDrawer>

@code {
  public bool FirstGroupExpanded  { get; set; }
  public bool SecondGroupExpanded { get; set; }
  public bool ThirdGroupExpanded  { get; set; } = true;

  public bool FirstGroupHidden  { get => !FirstGroupExpanded; }
  public bool SecondGroupHidden { get => !SecondGroupExpanded; }
  public bool ThirdGroupHidden  { get => !ThirdGroupExpanded; }

  public void ToggleFirstDrawer()
  {
    FirstGroupExpanded = !FirstGroupExpanded;
  }
  public void ToggleSecondDrawer()
  {
    SecondGroupExpanded = !SecondGroupExpanded;
  }
  public void ToggleThirdDrawer()
  {
    ThirdGroupExpanded = !ThirdGroupExpanded;
  }
}
