@namespace Blatternfly.Components

@if (ShowBackgroundImg)
{
<BackgroundImage Source="@BackgroundImgSrc" FilterId="@BackgroundImgFilterId" alt="@BackgroundImgAlt" />
}
<Login @attributes="AdditionalAttributes">
  <Header>
    <LoginHeader>
      <HeaderBrand>
        <Brand Src="@BrandImgSrc" Alt="@BrandImgAlt" />
      </HeaderBrand>
    </LoginHeader>
  </Header>
  <ChildContent>
    <LoginMainHeader Title="@LoginTitle" Subtitle="@LoginSubtitle" HeaderUtilities="@HeaderUtilities" />
    <LoginMainBody>@ChildContent</LoginMainBody>
    @if (ShowMainFooter)
    {
      <LoginMainFooter>
        <SocialMediaLoginContent>
          @SocialMediaLoginContent
        </SocialMediaLoginContent>
        <ForgotCredentials>
          @ForgotCredentials
        </ForgotCredentials>
        <SignUpForAccountMessage>
          @SignUpForAccountMessage
        </SignUpForAccountMessage>
      </LoginMainFooter>
    }
  </ChildContent>
  <Footer>
    <LoginFooter>
      <p>@TextContent</p>
      <List Variant="@FooterListVariants">@FooterListItems</List>
    </LoginFooter>
  </Footer>
</Login>