@namespace Blatternfly.Components

@if (IsVisible)
{
  <div
    @attributes="AdditionalAttributes"
    class="@CssClass"
    role="tooltip"
    style="@CssStyle"
    aria="@TooltipAriaValue"
    aria-live="@TooltipAriaLiveValue"
  >
    <TooltipArrow />
    <TooltipContent IsLeftAligned="@IsContentLeftAligned">
      @Content
    </TooltipContent>
  </div>
}
@ChildContent