@page "/components/form"
@using System.ComponentModel.DataAnnotations

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Form</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <Form Model="@_model1">
    <FormGroup Label="Name" IsRequired="true" FieldId="simple-form-name-01" HelperText="Please provide your full name">
      <TextInput
        IsRequired="true"
        id="simple-form-name-01"
        name="simple-form-name-01"
        aria-describedby="simple-form-name-01-helper"
        @bind-Value="_model1.Name"
      />
    </FormGroup>
    <FormGroup Label="Email" IsRequired="true" FieldId="simple-form-email-01">
      <TextInput
        IsRequired="true"
        Type="TextInputTypes.Email"
        id="simple-form-email-01"
        name="simple-form-email-01"
        @bind-Value="_model1.Email"
      />
    </FormGroup>
    <FormGroup Label="Phone number" IsRequired="true" FieldId="simple-form-number-01">
      <TextInput
        IsRequired="true"
        Type="TextInputTypes.Tel"
        id="simple-form-number-01"
        placeholder="555-555-5555"
        name="simple-form-number-01"
        @bind-Value="_model1.Phone"
      />
    </FormGroup>
    <FormGroup IsInline="true" FieldId="simple-form-checkbox-group" Label="How can we contact you?" IsRequired="true">
      <Checkbox Label="Email" AriaLabel="Email" id="inlinecheck01" @bind-Value="_model1.ContactEmail"/>
      <Checkbox Label="Phone" AriaLabel="Phone" id="inlinecheck02" @bind-Value="_model1.ContactPhone"/>
      <Checkbox Label="Please don't contact me" AriaLabel="Please don't contact me" id="inlinecheck03" @bind-Value="_model1.DisallowContact"/>
    </FormGroup>
    <FormGroup Label="Additional Note" FieldId="simple-form-note-01">
      <TextInput IsDisabled="true" id="simple-form-note-01" name="simple-form-number" @bind-Value="_model1.Notes"/>
    </FormGroup>
    <FormGroup FieldId="checkbox01">
      <Checkbox
        Label="I'd like updates via email"
        id="checkbox01"
        name="checkbox01"
        AriaLabel="Update via email"
        @bind-Value="_model1.EmailUpdates"/>
    </FormGroup>
    <ActionGroup>
      <Button Variant="ButtonVariant.Primary">Submit form</Button>
      <Button Variant="ButtonVariant.Link">Cancel</Button>
    </ActionGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Horizontal</Title>
  <Form Model="@_model2" IsHorizontal="true">
    <FormGroup Label="Name" IsRequired="true" FieldId="horizontal-form-name" HelperText="Please provide your full name">
      <TextInput
        @bind-Value="_model2.Name"
        IsRequired="true"
        id="horizontal-form-name"
        aria-describedby="horizontal-form-name-helper"
        name="horizontal-form-name"
      />
    </FormGroup>
    <FormGroup Label="Email" IsRequired="true" FieldId="horizontal-form-email">
      <TextInput
        @bind-Value="_model2.Email"
        IsRequired="true"
        Type="TextInputTypes.Email"
        id="horizontal-form-email"
        name="horizontal-form-email"
      />
    </FormGroup>
    <FormGroup Label="Your title" FieldId="horizontal-form-title">
      <FormSelect
        @bind-Value="_model2.Title"
        id="horizontal-form-title"
        name="horizontal-form-title"
        AriaLabel="Your title"
      >
        @foreach (var option in options)
        {
          <FormSelectOption IsDisabled="@option.Item3" Value="@option.Item2" Label="@option.Item1" />
        }
      </FormSelect>
    </FormGroup>
    <FormGroup Label="Your experience" FieldId="horizontal-form-exp">
      <TextArea
        @bind-Value="_model2.Experience"
        name="horizontal-form-exp"
        id="horizontal-form-exp"
      />
    </FormGroup>
    <FormGroup Label="How can we contact you?" IsRequired="true" IsStack="true" HasNoPaddingTop="true">
      <Checkbox Label="Email" id="alt-form-checkbox-1" name="alt-form-checkbox-1" @bind-Value="_model2.ContactEmail" />
      <Checkbox Label="Phone" id="alt-form-checkbox-2" name="alt-form-checkbox-2" @bind-Value="_model2.ContactPhone" />
      <Checkbox Label="Please don't contact me" id="alt-form-checkbox-3" name="alt-form-checkbox-3" @bind-Value="_model2.DisallowContact" />
    </FormGroup>
    <ActionGroup>
      <Button Variant="ButtonVariant.Primary">Submit form</Button>
      <Button Variant="ButtonVariant.Link">Cancel</Button>
    </ActionGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Limit width</Title>
  <Form Model="@_model3" IsWidthLimited="true">
    <FormGroup Label="Name" IsRequired="true" FieldId="simple-form-name-01" HelperText="Please provide your full name">
      <TextInput
        IsRequired="true"
        id="simple-form-name-02"
        name="simple-form-name-02"
        aria-describedby="simple-form-name-02-helper"
        @bind-Value="_model3.Name"
      />
    </FormGroup>
    <FormGroup Label="Email" IsRequired="true" FieldId="simple-form-email-01">
      <TextInput
        IsRequired="true"
        Type="TextInputTypes.Email"
        id="simple-form-email-02"
        name="simple-form-email-02"
        @bind-Value="_model3.Email"
      />
    </FormGroup>
    <FormGroup Label="Phone number" IsRequired="true" FieldId="simple-form-number-01">
      <TextInput
        IsRequired="true"
        Type="TextInputTypes.Tel"
        id="simple-form-number-02"
        placeholder="555-555-5555"
        name="simple-form-number-01"
        @bind-Value="_model3.Phone"
      />
    </FormGroup>
    <FormGroup IsInline="true" FieldId="simple-form-checkbox-group" Label="How can we contact you?" IsRequired="true">
      <Checkbox Label="Email" AriaLabel="Email" id="inlinecheck0102" @bind-Value="_model3.ContactEmail" />
      <Checkbox Label="Phone" AriaLabel="Phone" id="inlinecheck0202" @bind-Value="_model3.ContactPhone" />
      <Checkbox Label="Please don't contact me" AriaLabel="Please don't contact me" id="inlinecheck0302" @bind-Value="_model3.DisallowContact"/>
    </FormGroup>
    <FormGroup Label="Additional Note" FieldId="simple-form-note-01">
      <TextInput IsDisabled="true" id="simple-form-note-02" name="simple-form-note-02" @bind-Value="_model3.Notes" />
    </FormGroup>
    <FormGroup FieldId="checkbox01">
      <Checkbox
        Label="I'd like updates via email"
        id="checkbox02"
        name="checkbox02"
        AriaLabel="Update via email"
        @bind-Value="_model3.EmailUpdates"
      />
    </FormGroup>
    <ActionGroup>
      <Button Variant="ButtonVariant.Primary">Submit form</Button>
      <Button Variant="ButtonVariant.Link">Cancel</Button>
    </ActionGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Invalid</Title>
  <Form Model="@_ageModel1">
    <FormGroup
      Label="Age"
      HelperText="Please enter your age"
      HelperTextHidden="@(_ageModel1.Validated.HasValue)"
      HelperTextInvalid="Age has to be a number"
      FieldId="age-1"
      Validated="@_ageModel1.Validated"
    >
      <HelperTextInvalidIcon><ExclamationCircleIcon /></HelperTextInvalidIcon>
      <HelperTextIcon><ExclamationCircleIcon /></HelperTextIcon>
      <ChildContent>
        <TextInput
          id="age-1"
          aria-describedby="age-1-helper"
          @bind-Value="_ageModel1.Value"
          @bind-Value:event="_ageModel1.OnAgeChanged"
          Validated="@_ageModel1.Validated"
        />
      </ChildContent>
    </FormGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Invalid with form alert</Title>
  <Form Model="@_ageModel2">
    @if (_ageModel2.Validated == ValidatedOptions.Error)
    {
      <FormAlert>
        <Alert
          Variant="AlertVariant.Danger"
          Title="You must fill out all required fields before you can proceed."
          aria-live="polite"
          IsInline="true"
        />
      </FormAlert>
    }
    <FormGroup
      Label="Age"
      HelperText="Please enter your age"
      HelperTextHidden="@(_ageModel2.Validated.HasValue)"
      HelperTextInvalid="Age has to be a number"
      FieldId="age-1"
      Validated="@_ageModel2.Validated"
      type="number"
    >
      <HelperTextInvalidIcon><ExclamationCircleIcon /></HelperTextInvalidIcon>
      <HelperTextIcon><ExclamationCircleIcon /></HelperTextIcon>
      <ChildContent>
        <TextInput
          Validated="@_ageModel2.Validated"
          @bind-Value="_ageModel2.Value"
          @bind-Value:event="_ageModel2.OnAgeChanged"
          id="age-1"
          aria-describedby="age-1-helper"
        />
      </ChildContent>
    </FormGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Horizontal stacked no padding top</Title>
  <Form Model="@_mixModel1" IsHorizontal="true">
    <FormGroup Label="Label" HasNoPaddingTop="true" FieldId="options" IsStack="true">
      <Checkbox Label="option 1" id="option-01" @bind-Value="_mixModel1.Check1" />
      <Checkbox Label="option 2" id="option-02" @bind-Value="_mixModel1.Check2" />
    </FormGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Horizontal stacked helper text on top</Title>
  <Form Model="@_mixModel2" IsHorizontal="true">
    <FormGroup Label="Label" HasNoPaddingTop="true" FieldId="options" IsStack="true" IsHelperTextBeforeField="true" HelperText="Select all that apply">
      <Checkbox Label="option 1" id="option-01" @bind-Value="_mixModel2.Check1" />
      <Checkbox Label="option 2" id="option-02" @bind-Value="_mixModel2.Check2" />
    </FormGroup>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Form Sections</Title>
  <Form Model="@_formSectionsModel">
    <FormSection>
      <FormGroup Label="Form section 1 input" IsRequired="true" FieldId="simple-form-section-1-input">
        <TextInput
          IsRequired="true"
          id="simple-form-section-1-input"
          name="simple-form-section-1-input"
          @bind-Value="_formSectionsModel.TextValue1"
        />
      </FormGroup>
    </FormSection>
    <FormSection Title="Form section 2 (optional title)" TitleElement="TitleElement.h2">
      <FormGroup Label="Form section 2 input" IsRequired="true" FieldId="simple-form-section-2-input">
        <TextInput
          IsRequired="true"
          id="simple-form-section-2-input"
          name="simple-form-section-2-input"
          @bind-Value="_formSectionsModel.TextValue2"
        />
      </FormGroup>
    </FormSection>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Grid form</Title>
  <Form Model="@_gridForm">
    <Grid HasGutter="true" Medium="6">
      <GridItem Span="12">
        <FormGroup
          Label="Name"
          IsRequired="true"
          FieldId="simple-form-name-01"
          HelperText="Please provide your full name"
        >
          <TextInput
            IsRequired="true"
            id="simple-form-name-01"
            name="simple-form-name-01"
            aria-describedby="simple-form-name-01-helper"
            @bind-Value="_gridForm.TextValue1"
          />
        </FormGroup>
      </GridItem>
      <FormGroup Label="Email" IsRequired="true" FieldId="simple-form-email-01">
        <TextInput
          IsRequired="true"
          Type="TextInputTypes.Email"
          id="simple-form-email-01"
          name="simple-form-email-01"
          @bind-Value="_gridForm.TextValue2"
        />
      </FormGroup>
      <FormGroup Label="Phone number" IsRequired="true" FieldId="simple-form-number-01">
        <TextInput
          IsRequired="true"
          Type="TextInputTypes.Tel"
          id="simple-form-number-01"
          placeholder="555-555-5555"
          name="simple-form-number-01"
          @bind-Value="_gridForm.TextValue3"
        />
      </FormGroup>
    </Grid>
  </Form>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">Field groups</Title>
  <Form Model="@_fieldGroups">
    <FormGroup Label="Label 1" IsRequired="true" FieldId="form-expandable-field-groups-label1">
      <TextInput
        IsRequired="true"
        id="form-expandable-field-groups-label1"
        name="form-expandable-field-groups-label1"
        @bind-Value="_fieldGroups.TextValue"
      />
    </FormGroup>
    <FormGroup Label="Label 2" IsRequired="true" FieldId="form-expandable-field-groups-label2">
      <TextInput
        IsRequired="true"
        id="form-expandable-field-groups-label2"
        name="form-expandable-field-groups-label2"
        @bind-Value="_fieldGroups.TextValue"
      />
    </FormGroup>
    <FormFieldGroupExpandable IsExpanded="true" ToggleAriaLabel="Details">
      <Header>
        <FormFieldGroupHeader
          TitleText="Field group 1"
          TitleTextId="field-group1-titleText-id"
          TitleDescription="Field group 1 description text.">
          <Actions>
            <Button Variant="ButtonVariant.Link">Delete all</Button>
            <Button Variant="ButtonVariant.Secondary">Add parameter</Button>
          </Actions>
        </FormFieldGroupHeader>
      </Header>
      <ChildContent>
        <FormFieldGroupExpandable IsExpanded="true" ToggleAriaLabel="Details">
          <Header>
            <FormFieldGroupHeader
              TitleText="Nested field group 1"
              TitleTextId="nested-field-group1-titleText-id"
              TitleDescription="Nested field group 1 description text.">
              <Actions>
                <Button Variant="ButtonVariant.Plain" aria-label="Remove">
                  <TrashIcon />
                </Button>
              </Actions>
            </FormFieldGroupHeader>
          </Header>
          <ChildContent>
            <FormGroup
              Label="Label 1"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group1-label1">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group1-label1"
                name="form-expandable-field-groups-field-group1-label1"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
            <FormGroup Label="Label 2" IsRequired="true" FieldId="form-expandable-field-groups-field-group1-label2">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group1-label2"
                name="form-expandable-field-groups-field-group1-label2"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
          </ChildContent>
        </FormFieldGroupExpandable>
        <FormFieldGroupExpandable ToggleAriaLabel="Details">
          <Header>
            <FormFieldGroupHeader
              TitleText="Nested field group 2"
              TitleTextId="nested-field-group2-titleText-id">
              <Actions>
                <Button Variant="ButtonVariant.Plain" aria-label="Remove"><TrashIcon /></Button>
              </Actions>
            </FormFieldGroupHeader>
          </Header>
          <ChildContent>
            <FormGroup
              Label="Label 1" I
              Required="true"
              FieldId="form-expandable-field-groups-field-group2-label1">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group2-label1"
                name="form-expandable-field-groups-field-group2-label1"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
            <FormGroup
              Label="Label 2"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group2-label2">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group2-label2"
                name="form-expandable-field-groups-field-group2-label2"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
          </ChildContent>
        </FormFieldGroupExpandable>
        <FormFieldGroupExpandable ToggleAriaLabel="Details">
          <Header>
            <FormFieldGroupHeader
              TitleText="Nested field group 3"
              TitleTextId="nested-field-group3-titleText-id"
              TitleDescription="Field group 3 description text.">
              <Actions>
                <Button Variant="ButtonVariant.Plain" aria-label="Remove"><TrashIcon /></Button>
              </Actions>
            </FormFieldGroupHeader>
          </Header>
          <ChildContent>
            <FormGroup
              Label="Label 1"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group3-label1">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group3-label1"
                name="form-expandable-field-groups-field-group3-label1"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
            <FormGroup
              Label="Label 2"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group3-label2">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group3-label2"
                name="form-expandable-field-groups-field-group3-label2"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
          </ChildContent>
        </FormFieldGroupExpandable>
        <FormGroup Label="Label 1" IsRequired="true" FieldId="form-expandable-field-groupsform-expandable-field-groups-field-group1-label1">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-groupsform-expandable-field-groups-field-group1-label1"
            name="form-expandable-field-groupsform-expandable-field-groups-field-group1-label1"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
        <FormGroup Label="Label 2" IsRequired="true" FieldId="form-expandable-field-groupsform-expandable-field-groups-field-group1-label2">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-groupsform-expandable-field-groups-field-group1-label2"
            name="form-expandable-field-groupsform-expandable-field-groups-field-group1-label2"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
      </ChildContent>
    </FormFieldGroupExpandable>
    <FormFieldGroupExpandable ToggleAriaLabel="Details">
      <Header>
        <FormFieldGroupHeader
          TitleText="Field group 2"
          TitleTextId="field-group2-titleText-id"
          TitleDescription="Field group 2 description text.">
          <Actions>
            <Button Variant="ButtonVariant.Link">Delete all</Button> <Button Variant="ButtonVariant.Secondary">Add parameter</Button>
          </Actions>
        </FormFieldGroupHeader>
      </Header>
      <ChildContent>
        <FormGroup Label="Label 1" IsRequired="true" FieldId="form-expandable-field-group2-label1">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-group2-label1"
            name="form-expandable-field-group2-label1"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
        <FormGroup Label="Label 2" IsRequired="true" FieldId="form-expandable-field-group2-label2">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-group2-label2"
            name="form-expandable-field-group2-label2"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
      </ChildContent>
    </FormFieldGroupExpandable>
    <FormFieldGroupExpandable IsExpanded="true" ToggleAriaLabel="Details">
      <Header>
        <FormFieldGroupHeader
          TitleText="Field group 3"
          TitleTextId="field-group3-titleText-id"
          TitleDescription="Field group 3 description text."
        />
      </Header>
      <ChildContent>
        <FormGroup
          Label="Label 1"
          IsRequired="true"
          FieldId="form-expandable-field-group3-label1">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-group3-label1"
            name="form-expandable-field-group3-label1"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
        <FormGroup
          Label="Label 2"
          IsRequired="true"
          FieldId="form-expandable-field-group3-label2">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-group3-label2"
            name="form-expandable-field-group3-label2"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
        <FormFieldGroup>
          <Header>
            <FormFieldGroupHeader
              TitleText="Nested field group 1 (non-expandable)"
              TitleTextId="nested-field-group1-non-expandable-titleText-id"
            />
          </Header>
          <ChildContent>
            <FormGroup
              Label="Label 1"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group7-label1">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group7-label1"
                name="form-expandable-field-groups-field-group7-label1"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
            <FormGroup
              Label="Label 2"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group7-label2">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group7-label2"
                name="form-expandable-field-groups-field-group7-label2"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
          </ChildContent>
        </FormFieldGroup>
        <FormFieldGroup>
          <Header>
            <FormFieldGroupHeader
              TitleText="Nested field group 2 (non-expandable)"
              TitleTextId="nested-field-group2-non-expandable-titleText-id"
              titleDescription="Field group 2 description text."
            />
          </Header>
          <ChildContent>
            <FormGroup
              Label="Label 1"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group8-label1">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group8-label1"
                name="form-expandable-field-groups-field-group8-label1"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
            <FormGroup
              Label="Label 2"
              IsRequired="true"
              FieldId="form-expandable-field-groups-field-group8-label2">
              <TextInput
                IsRequired="true"
                id="form-expandable-field-groups-field-group8-label2"
                name="form-expandable-field-groups-field-group8-label2"
                @bind-Value="_fieldGroups.TextValue"
              />
            </FormGroup>
          </ChildContent>
        </FormFieldGroup>
      </ChildContent>
    </FormFieldGroupExpandable>
    <FormFieldGroup>
      <Header>
        <FormFieldGroupHeader
            TitleText="Field group 4 (non-expandable)"
            TitleTextId="field-group4-non-expandable-titleText-id"
            TitleDescription="Field group 4 description text."
        >
          <Button Variant="ButtonVariant.Link">Delete all</Button>
          <Button Variant="ButtonVariant.Secondary">Add parameter</Button>
        </FormFieldGroupHeader>
      </Header>
      <ChildContent>
        <FormGroup
          Label="Label 1"
          IsRequired="true"
          FieldId="form-expandable-field-groupsform-expandable-field-groups-field-group10-label1">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-groupsform-expandable-field-groups-field-group10-label1"
            name="form-expandable-field-groupsform-expandable-field-groups-field-group10-label1"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
        <FormGroup Label="Label 2" IsRequired="true" FieldId="form-expandable-field-groupsform-expandable-field-groups-field-group10-label2">
          <TextInput
            IsRequired="true"
            id="form-expandable-field-groupsform-expandable-field-groups-field-group10-label2"
            name="form-expandable-field-groupsform-expandable-field-groups-field-group10-label2"
            @bind-Value="_fieldGroups.TextValue"
          />
        </FormGroup>
      </ChildContent>
    </FormFieldGroup>
    <FormGroup Label="Label 3" IsRequired="true" FieldId="form-expandable-field-groups-label3">
      <TextInput
        IsRequired="true"
        id="form-expandable-field-groups-label3"
        name="form-expandable-field-groups-label3"
        @bind-Value="_fieldGroups.TextValue"
      />
    </FormGroup>
    <FormGroup Label="Label 4" IsRequired="true" FieldId="form-expandable-field-groups-label4">
      <TextInput
        IsRequired="true"
        id="form-expandable-field-groups-label4"
        name="form-expandable-field-groups-label4"
        @bind-Value="_fieldGroups.TextValue"
      />
    </FormGroup>
  </Form>
</section>

@code {
  private List<Tuple<string, string, bool>> options = new List<Tuple<string, string, bool>>
  {
    new Tuple<string, string, bool>("please choose", "Please Choose", false),
    new Tuple<string, string, bool>("mr"           , "Mr"           , false),
    new Tuple<string, string, bool>("miss"         , "Miss"         , false),
    new Tuple<string, string, bool>("mrs"          , "Mrs"          , false),
    new Tuple<string, string, bool>("ms"           , "Ms"           , false),
    new Tuple<string, string, bool>("dr"           , "Dr"           , false),
    new Tuple<string, string, bool>("other"        , "Other"        , false)
  };

  private Basic _model1 = new();
  private Basic _model2 = new();
  private Basic _model3 = new();
  private Age _ageModel1 = new();
  private Age _ageModel2 = new();
  private MixModel _mixModel1 = new();
  private MixModel _mixModel2 = new();
  private FormSections _formSectionsModel = new();
  private GridForm _gridForm = new();
  private FieldGroups _fieldGroups = new();

  public class Basic
  {
    [Required]
    [StringLength(10, ErrorMessage = "Name is too long.")]
    public string Name { get; set; }
    public string Email { get; set; }
    public string Phone { get; set; }
    public string Title { get; set; }
    public string Experience { get; set; }
    public bool ContactEmail { get; set; }
    public bool ContactPhone { get; set; }
    public bool DisallowContact { get; set; }
    public string Notes { get; set; } = "disabled";
    public bool EmailUpdates { get; set; }
  }

  public class Age
  {
    public string Value { get; set; } = "Five";
    public ValidatedOptions? Validated { get; set; } = ValidatedOptions.Error;

    public void OnAgeChanged(string newValue)
    {
      Validated = int.TryParse(newValue, out _) ? ValidatedOptions.Success : ValidatedOptions.Error;
      Value     = newValue;
    }
  }

  public class MixModel
  {
    public bool Check1 { get; set; }
    public bool Check2 { get; set; }
  }

  public class FormSections
  {
    public string TextValue1 { get; set; }
    public string TextValue2 { get; set; }
  }

  public class GridForm
  {
    public string TextValue1 { get; set; }
    public string TextValue2 { get; set; }
    public string TextValue3 { get; set; }
  }

  public class FieldGroups
  {
    public string TextValue { get; set; }
  }
}