@page "/components/number-input"

<Title HeadingLevel="HeadingLevel.h1" Size="TitleSizes.ExtraLarge4">Number input</Title>
<Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge">Examples</Title>

<section class="example-section">
  <Title Size="TitleSizes.Large">Basic</Title>
  <NumberInput
    @bind-Value="@_value"
    @bind-Value:event="@OnChange"
    OnMinus="@OnMinus"
    OnPlus="@OnPlus"
    InputName="input"
    InputAriaLabel="number input"
    MinusBtnAriaLabel="minus"
    PlusBtnAriaLabel="plus"
  />
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With unit</Title>
  <NumberInput
    @bind-Value="@_value1"
    @bind-Value:event="@OnChange1"
    OnMinus="@OnMinus1"
    OnPlus="@OnPlus1"
    InputName="input 1"
    InputAriaLabel="number input 1"
    MinusBtnAriaLabel="minus 1"
    PlusBtnAriaLabel="plus 1"
  >
    <Unit>%</Unit>
  </NumberInput>
  <br />
  <br />
  <NumberInput
    @bind-Value="@_value2"
    @bind-Value:event="@OnChange2"
    OnMinus="@OnMinus2"
    OnPlus="@OnPlus2"
    InputName="input 2"
    InputAriaLabel="number input 2"
    MinusBtnAriaLabel="minus 0.01"
    PlusBtnAriaLabel="plus 0.01"
    UnitPosition="UnitPosition.Before"
  >
    <Unit>$</Unit>
  </NumberInput>
</section>

<section class="example-section">
  <Title Size="TitleSizes.Large">With unit and thresholds</Title>
  <NumberInput
    @bind-Value="@_value3"
    @bind-Value:event="@OnChange3"
    OnMinus="@OnMinus3"
    OnPlus="@OnPlus3"
    Min="0"
    Max="10"
    InputName="input"
    InputAriaLabel="number input"
    MinusBtnAriaLabel="minus"
    PlusBtnAriaLabel="plus"
  >
    <Unit>%</Unit>
  </NumberInput>
</section>

@code {
  private decimal _value  = 90;
  private decimal _value1 = 90;
  private decimal _value2 = 1.0M;
  private decimal _value3 = 0;

  void OnMinus(MouseEventArgs _)
  {
    --_value;
  }

  void OnChange(decimal newValue)
  {
    _value = newValue;
  }

  void OnPlus(MouseEventArgs _)
  {
    ++_value;
  }

  void OnMinus1(MouseEventArgs _)
  {
    --_value1;
  }

  void OnChange1(decimal newValue)
  {
    _value1 = newValue;
  }

  void OnPlus1(MouseEventArgs _)
  {
    ++_value1;
  }

  void OnMinus2(MouseEventArgs _)
  {
    _value2 -= 0.01M;
  }

  void OnChange2(decimal newValue)
  {
    _value2 = newValue;
  }

  void OnPlus2(MouseEventArgs _)
  {
    _value2 += 0.01M;
  }

  void OnMinus3(MouseEventArgs _)
  {
    --_value3;
  }

  void OnChange3(decimal newValue)
  {
    if (newValue >= 0 && newValue <= 10)
    {
      _value3 = newValue;
    }
  }

  void OnPlus3(MouseEventArgs _)
  {
    ++_value3;
  }
}