@namespace Blatternfly.Components

<svg aria-hidden="@AriaHidden"
     fill="@Color"
     height="@HeightWidth"
     role="@Role"
     style="@Style"
     viewBox="@ViewBox"
     width="@HeightWidth"
     aria-labelledby="@AriaLabelledby"
     class="@ClassName"
     @attributes="AdditionalAttributes"
     id="@IconId"
>
  @if (HasTitle)
  {
    <title id="@TitleId">@Title</title>
  }
  <path d="@SvgPath" transform="@Transform"></path>
</svg>
