@namespace Blatternfly.Components

<button
  @onclick="NavToggleHandler"
  @onclick:stopPropagation="true"
  class="@CssClass"
  aria-label="@AriaLabel"
  aria-expanded="@AriaExpanded"
>
  <span class="pf-c-wizard__toggle-list">
    <span class="pf-c-wizard__toggle-list-item">
      <span class="pf-c-wizard__toggle-num">@ActiveStepIndex</span> @ActiveStepName
      @if (!string.IsNullOrEmpty(ActiveStepSubName))
      {
        <AngleRightIcon class="pf-c-wizard__toggle-separator" aria-hidden="true" />
      }
    </span>
    @if (!string.IsNullOrEmpty(ActiveStepSubName))
    {
      <span class="pf-c-wizard__toggle-list-item">@ActiveStepSubName</span>
    }
  </span>
  <span class="pf-c-wizard__toggle-icon">
    <CaretDownIcon aria-hidden="true" />
  </span>
</button>
<div class="pf-c-wizard__outer-wrap">
  <div class="pf-c-wizard__inner-wrap">
    @Nav
    <WizardBody
      MainComponent="@MainComponent"
      AriaLabel="@MainAriaLabel"
      AriaLabelledby="@MainAriaLabelledBy"
      HasNoBodyPadding="HasNoBodyPadding"
      ActiveStep="@ActiveStep"
      IsDrawerExpanded="@IsDrawerExpanded"
      HasDrawer="@HasDrawer"
    >
      @ActiveStep?.ChildContent
    </WizardBody>
  </div>
  @ChildContent
</div>