@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
  @if (Title is not null)
  {
    <WizardHeader
      TitleId="@TitleId"
      DescriptionId="@DescriptionId"
      DescriptionComponent="@DescriptionComponent"
      OnClose="@OnClose"
      Title="@Title"
      CloseButtonAriaLabel="@CloseButtonAriaLabel"
      HideClose="@HideClose"
    >
      <Description>@Description</Description>
    </WizardHeader>
  }
  <CascadingValue Value="this" IsFixed="true">
    <WizardToggle
      MainAriaLabel="@MainAriaLabel"
      IsInPage="@IsInPage"
      MainAriaLabelledBy="@MainAriaLabelBy"
      IsNavOpen="@IsNavOpen"
      OnNavToggle="@OnNavToggle"
      Steps="@FlattenedSteps"
      ActiveStep="@ActiveStep"
      HasNoBodyPadding="@HasNoBodyPadding"
    >
      <Nav>
        <WizardNav
          IsOpen="@IsNavOpen"
          AriaLabel="@NavAriaLabel"
          AriaLabelledBy="@NavAriaLabelBy"
        >
          @ChildContent
        </WizardNav>
      </Nav>
      <ChildContent>
        @if (Footer is not null)
        {
          @Footer
        }
        else
        {
          <WizardFooterInternal
            OnNext="@OnNextHandler"
            OnBack="@OnBackHandler"
            OnClose="@OnCloseHandler"
            FirstStep="@FirstStep"
            ActiveStep="@ActiveStep"
          >
            <NextButtonText>@FooterNextButtonText</NextButtonText>
            <BackButtonText>@BackButtonText</BackButtonText>
            <CancelButtonText>@CancelButtonText</CancelButtonText>
          </WizardFooterInternal>
        }
      </ChildContent>
    </WizardToggle>
  </CascadingValue>
</div>