@namespace Blatternfly.Components

<div class="pf-c-wizard__header">
  @if (!HideClose)
  {
    <Button Variant="ButtonVariant.Plain" class="pf-c-wizard__close" AriaLabel="@CloseButtonAriaLabel" OnClick="@OnClose">
      <TimesIcon aria-hidden="true" />
    </Button>
  }
  <Title HeadingLevel="HeadingLevel.h2" Size="TitleSizes.ExtraLarge3" class="pf-c-wizard__title" aria-label="@Title" id="@TitleId">
    @Title
  </Title>
  @if (Description is not null)
  {
    if (DescriptionComponent is WizardDescriptionComponent.p)
    {
      <p class="pf-c-wizard__description" id="@DescriptionId">
        @Description
      </p>
    }
    else
    {
      <div class="pf-c-wizard__description" id="@DescriptionId">
        @Description
      </div>
    }
  }
</div>