@namespace Blatternfly.Components
@inherits BaseComponent

<footer class="pf-c-wizard__footer">
  <Button Variant="ButtonVariant.Primary" Type="ButtonType.Submit" OnClick="@OnNext" IsDisabled="@IsDisabled">
    @NextButtonText
  </Button>
  @if (ActiveStep is not null && !ActiveStep.HideBackButton)
  {
    <Button Variant="ButtonVariant.Secondary" OnClick="@OnBack" IsDisabled="@FirstStep">
      @BackButtonText
    </Button>
  }
  @if (ActiveStep is not null && !ActiveStep.HideCancelButton)
  {
    <div class="pf-c-wizard__footer-cancel">
      <Button Variant="ButtonVariant.Link" OnClick="@OnClose">
        @CancelButtonText
      </Button>
    </div>
  }
</footer>

@code {
  [CascadingParameter] public Wizard Parent { get; set; }
  
  [Parameter] public EventCallback OnNext { get; set; }
  [Parameter] public EventCallback OnBack { get; set; }
  [Parameter] public EventCallback OnClose { get; set; }
  [Parameter] public bool FirstStep { get; set; }
  [Parameter] public WizardStep ActiveStep { get; set; }
  [Parameter] public RenderFragment NextButtonText { get; set; }
  [Parameter] public RenderFragment BackButtonText { get; set; }
  [Parameter] public RenderFragment CancelButtonText { get; set; }

  private bool IsDisabled { get => !Parent.IsValid; }
}
