@namespace Blatternfly.Components

<footer class="pf-c-wizard__footer">
  <Button Variant="ButtonVariant.Primary" Type="ButtonType.Submit" OnClick="@OnNext" IsDisabled="@IsDisabled">
    @NextButtonText
  </Button>
  @if (ActiveStep is not null && !ActiveStep.HideBackButton)
  {
    <Button Variant="ButtonVariant.Secondary" OnClick="@OnBack" IsDisabled="@FirstStep">
      @BackButtonText
    </Button>
  }
  @if (ActiveStep is not null && !ActiveStep.HideCancelButton)
  {
    <div class="pf-c-wizard__footer-cancel">
      <Button Variant="ButtonVariant.Link" OnClick="@OnClose">
        @CancelButtonText
      </Button>
    </div>
  }
</footer>