@namespace Blatternfly.Components

@if (ReturnList)
{
  <ol class="pf-c-wizard__nav-list">@ChildContent</ol>
}
else
{
  <nav
    class="@CssClass"
    aria-label="@AriaLabel"
    aria-labelledby="@AriaLabelledBy"
  >
    <ol class="pf-c-wizard__nav-list">@ChildContent</ol>
  </nav>
}