@namespace Blatternfly.Components

<li @attributes="AdditionalAttributes" class="@CssClass" aria-current="@AriaCurrent">
  <a
    class="pf-c-jump-links__link"
    href="@Href"
    @onclick="@ClickHandler"
    @onclick:preventDefault="true"
    @ref="AnchorElement"
  >
    <span class="pf-c-jump-links__link-text">@ChildContent</span>
  </a>
  <CascadingValue Value="this" IsFixed="true">
    @SubLists
  </CascadingValue>
</li>