@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <nav
    @attributes="AdditionalAttributes"
    class="@CssClass"
    aria-label="@AriaLabelValue"
    @ref="Element"
  >
    <div class="pf-c-jump-links__main">
      <div class="pf-c-jump-links__header">
        @if (Expandable is not null)
        {
          <div class="pf-c-jump-links__toggle">
            <Button
              Variant="ButtonVariant.Plain"
              OnClick="@OnToggle"
              AriaLabel="@ToggleAriaLabel"
              aria-expanded="@AriaExpanded"
            >
              <span class="pf-c-jump-links__toggle-icon">
                <AngleRightIcon />
              </span>
              @if (!string.IsNullOrEmpty(Label))
              {
                <span class="pf-c-jump-links__toggle-text"> @Label </span>
              }
            </Button>
          </div>
        }
        @if (!string.IsNullOrEmpty(Label) && AlwaysShowLabel)
        {
          <div class="pf-c-jump-links__label">@Label</div>
        }
      </div>
      <ul class="pf-c-jump-links__list">@ChildContent</ul>
    </div>
  </nav>
</CascadingValue>