@namespace Blatternfly.Components

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
>
  <button
    class="pf-c-expandable-section__toggle"
    type="button"
    aria-expanded="@IsExpanded"
    aria-controls="@ContentId"
    @onclick="OnHandleToggle"
  >
    <span class="@IconCssClass">
      <AngleRightIcon aria-hidden="true" />
    </span>
    <span class="pf-c-expandable-section__toggle-text">@ChildContent</span>
  </button>
</div>
