@namespace Blatternfly.Components

<div
  @attributes="AdditionalAttributes"
  class="@CssClass"
>
  @if (Variant is ExpandableSectionVariant.Default) { @ExpandableToggle }
  <div class="pf-c-expandable-section__content" hidden="@Hidden" id="@ContentId" style="@TruncateStyle">
    @ChildContent
  </div>
  @if (Variant is ExpandableSectionVariant.Truncate) { @ExpandableToggle }
</div>

@code {
  private RenderFragment ExpandableToggle         => !IsDetached ? ExpandableToggleFragment : null;
  private RenderFragment ExpandableToggleFragment =>
    @<button
      class="pf-c-expandable-section__toggle"
      type="button"
      aria-expanded="@AriaExpanded"
      @onclick="@OnHandleToggle"
    >
      @if (Variant is not ExpandableSectionVariant.Truncate)
      {
        <span class="pf-c-expandable-section__toggle-icon">
          <AngleRightIcon aria-hidden="true" />
        </span>
      }
      <span class="pf-c-expandable-section__toggle-text">
        @if (@ToggleContent is not null)
        {
          @ToggleContent
        }
        else
        {
          @ComputedToggleText
        }
      </span>
    </button>;
}