@namespace Blatternfly.Components
@inherits BaseComponent
@inject IRandomIdGenerator RandomIdGenerator
@inject IDomUtils DomUtils

<div @attributes="AdditionalAttributes" class="@CssClass">
  <span class="pf-c-notification-drawer__list-item-header-icon">
    @if (Icon is not null)
    {
      @Icon
    }
    else
    {
      if (Variant == SeverityLevel.Success)
      {
        <CheckCircleIcon />
      }
      else if (Variant == SeverityLevel.Danger)
      {
        <ExclamationCircleIcon />
      }
      else if (Variant == SeverityLevel.Warning)
      {
        <ExclamationTriangleIcon />
      }
      else if (Variant == SeverityLevel.Info)
      {
        <InfoCircleIcon />
      }
      else
      {
        <BellIcon />
      }
    }
  </span>
  @if (ShouldRenderTooltip)
  {
    <Tooltip id="@TooltipId" Reference="@TitleId" Position="@TooltipPosition">
      <Content>
        @Title
      </Content>
      <ChildContent>
        <h2
          id="@TitleId"
          tabindex="0"
          class="@TitleCssClass"
          style="@TitleCssStyle"
        >
          @if (!string.IsNullOrEmpty(ScreenReaderTitle))
          {
            <span class="pf-u-screen-reader">@ScreenReaderTitle</span>
          }
          @Title
        </h2>
      </ChildContent>
    </Tooltip>
  }
  else
  {
    <h2 class="@TitleCssClass" style="@TitleCssStyle" @ref="TitleRef">
      @if (!string.IsNullOrEmpty(ScreenReaderTitle))
      {
        <span class="pf-u-screen-reader">@ScreenReaderTitle</span>
      }
      @Title
    </h2>
  }
</div>
@if (ChildContent is not null)
{
  <div class="pf-c-notification-drawer__list-item-action">@ChildContent</div>
}

@code {
  ///  Add custom icon for notification drawer list item header.
  [Parameter] public RenderFragment Icon { get; set; }

  ///  Notification drawer list item header screen reader title.
  [Parameter] public string ScreenReaderTitle { get; set; }

  ///  Notification drawer list item title.
  [Parameter] public string Title { get; set; }

  ///  Variant indicates the severity level.
  [Parameter] public SeverityLevel Variant { get; set; } = SeverityLevel.Default;

  /// Truncate title to number of lines.
  [Parameter] public int TruncateTitle { get; set; }

  /// Position of the tooltip which is displayed if text is truncated.
  [Parameter] public TooltipPosition TooltipPosition { get; set; } = TooltipPosition.Top;

  private string CssClass => new CssBuilder("pf-c-notification-drawer__list-item-header")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string TitleCssClass => new CssBuilder("pf-c-notification-drawer__list-item-header-title")
    .AddClass("pf-m-truncate", TruncateTitle > 0)
    .Build();

  private string TitleCssStyle => new StyleBuilder()
    .AddStyle("--pf-c-notification-drawer__list-item-header-title--max-lines", TruncateTitle, TruncateTitle > 0)
    .Build();

  private ElementReference TitleRef { get; set; }

  private bool   ShouldRenderTooltip { get; set; }
  private string TitleId             { get; set; }
  private string TooltipId           { get; set; }

  protected override void OnInitialized()
  {
    base.OnInitialized();

    TitleId   = RandomIdGenerator.GenerateId("pf-c-notification-drawer__group-toggle-title");
    TooltipId = $"{TitleId}-tooltip";
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);

    if (firstRender)
    {
      ShouldRenderTooltip = await DomUtils.HasTruncatedHeight(TitleRef);
      if (ShouldRenderTooltip)
      {
        StateHasChanged();
      }
    }
  }
}