@namespace Blatternfly.Components

<section @attributes="AdditionalAttributes" class="@CssClass">
  <TitleHeadingLevel HeadingLevel="@HeadingLevel">
    <button
      class="pf-c-notification-drawer__group-toggle"
      aria-expanded="@AriaExpanded"
      @onclick="HandleToggle"
      @onclick:stopPropagation="true"
      @onkeydown="OnKeyDown"
      @onkeydown:preventDefault="true"
    >
      @if (ShouldRenderTooltip)
      {
        <Tooltip id="@TooltipId" Reference="@TitleId" Position="@TooltipPosition">
          <Content>
            @Title
          </Content>
          <ChildContent>
            <div
              id="@TitleId"
              tabindex="0"
              class="pf-c-notification-drawer__group-toggle-title"
              style="@TitleCssStyle"
            >
              @Title
            </div>
          </ChildContent>
        </Tooltip>
      }
      else
      {
        <div
          class="pf-c-notification-drawer__group-toggle-title"
          style="@TitleCssStyle"
          @ref="TitleRef"
        >
          @Title
        </div>
      }
      <div class="pf-c-notification-drawer__group-toggle-count">
        <Badge IsRead="@IsRead">@Count</Badge>
      </div>

      <span class="pf-c-notification-drawer__group-toggle-icon">
        <AngleRightIcon />
      </span>
    </button>
  </TitleHeadingLevel>
  @ChildContent
</section>