@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <span class="pf-c-notification-drawer__list-item-header-icon">
    @if (Icon is not null)
    {
      @Icon
    }
    else
    {
      if (Variant is SeverityLevel.Success)
      {
        <CheckCircleIcon />
      }
      else if (Variant is SeverityLevel.Danger)
      {
        <ExclamationCircleIcon />
      }
      else if (Variant is SeverityLevel.Warning)
      {
        <ExclamationTriangleIcon />
      }
      else if (Variant is SeverityLevel.Info)
      {
        <InfoCircleIcon />
      }
      else
      {
        <BellIcon />
      }
    }
  </span>
  @if (IsTooltipVisible)
  {
    <Tooltip id="@TooltipId" Reference="@TitleId" Position="@TooltipPosition">
      <Content>
        @Title
      </Content>
      <ChildContent>
        <TitleHeadingLevel
          id="@TitleId"
          tabindex="0"
          class="@TitleCssClass"
          style="@TitleCssStyle"
          HeadingLevel="@HeadingLevel"
        >
          @if (!string.IsNullOrEmpty(ScreenReaderTitle))
          {
            <span class="pf-u-screen-reader">@ScreenReaderTitle</span>
          }
          @Title
        </TitleHeadingLevel>
      </ChildContent>
    </Tooltip>
  }
  else
  {
    <TitleHeadingLevel
      class="@TitleCssClass"
      style="@TitleCssStyle"
      HeadingLevel="@HeadingLevel"
      @ref="TitleRef"
    >
      @if (!string.IsNullOrEmpty(ScreenReaderTitle))
      {
        <span class="pf-u-screen-reader">@ScreenReaderTitle</span>
      }
      @Title
    </TitleHeadingLevel>
  }
</div>
@if (ChildContent is not null)
{
  <div class="pf-c-notification-drawer__list-item-action">@ChildContent</div>
}