@namespace Blatternfly.Components

@typeparam TItem

@if ((Items is not null && Items.Count > 0) || AddLabelControl is not null)
{
  <div
    class="@CssClass"
  >
    <div class="pf-c-label-group__main">
      @if (!string.IsNullOrEmpty(CategoryName))
      {
        @if (IsTooltipVisible)
        {
          <Tooltip id="@TooltipId" Reference="@LabelGroupId" Position="@TooltipPosition">
            <Content>
              @CategoryName
            </Content>
            <ChildContent>
              <span
                class="pf-c-label-group__label"
                @ref="HeadingRef"
              >
                <span aria-hidden="true" id="@LabelGroupId">
                  @CategoryName
                </span>
              </span>
            </ChildContent>
          </Tooltip>
        }
        else
        {
          <span
            class="pf-c-label-group__label"
            aria-hidden="true"
            id="@LabelGroupId"
            @ref="HeadingRef"
          >
            @CategoryName
          </span>
        }
      }
      <ul
        class="pf-c-label-group__list"
        aria-labelledby="@AriaLabelledByValue"
        aria-label="@AriaLabelValue"
        role="list"
      >
        @foreach (var item in Slice)
        {
          <li class="pf-c-label-group__list-item" @key="item">
            @ItemTemplate(item)
          </li>
        }
        @if (AddLabelControl is not null)
        {
          <li class="pf-c-label-group__list-item">@AddLabelControl</li>
        }
        @if (Items.Count > NumLabels)
        {
          <li class="pf-c-label-group__list-item">
            <Label IsOverflowLabel IsCompact="@IsCompact" OnClick="@ToggleCollapse">
              @if (IsOpen)
              {
                @ExpandedText
              }
              else
              {
                @CollapsedTextResult
              }
            </Label>
          </li>
        }
      </ul>
    </div>
    @if (IsClosable)
    {
      <div class="pf-c-label-group__close">
        <Button
          Variant="ButtonVariant.Plain"
          AriaLabel="@CloseBtnAriaLabel"
          OnClick="@OnClick"
          id="@CloseButtonId"
          aria-labelledby="@CloseButtonAriaLabelledBy"
        >
          <TimesCircleIcon aria-hidden="true" />
        </Button>
      </div>
    }
  </div>
}