@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-data-list__toggle">
    <Button
      id="@Id"
      OnClick="@OnToggle"
      Variant="ButtonVariant.Plain"
      aria-controls="@AriaControlsValue"
      AriaLabel="@AriaLabel"
      aria-labelledby="@AriaLabelledByValue"
      aria-expanded="@AriaExpandedValue"
    >
      <div class="pf-c-data-list__toggle-icon">
        <AngleRightIcon />
      </div>
    </Button>
  </div>
</div>