@namespace Blatternfly.Components

<section
  @attributes="AdditionalAttributes"
  id="@Id"
  class="@CssClass"
  hidden="@IsHidden"
  aria-label="@AriaLabel"
>
  <div class="@BodyCssClass">
    @ChildContent
  </div>
</section>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Identify the DataListContent item.
  [Parameter] public string Id { get; set; }

  /// Id for the row.
  [Parameter] public string Rowid { get; set; }

  /// Flag to show if the expanded content of the DataList item is visible.
  [Parameter] public bool IsHidden { get; set;  }

  /// Flag to remove padding from the expandable content.
  [Parameter] public bool HasNoPadding { get; set; }

  /// Adds accessible text to the DataList toggle.
  [Parameter] public string AriaLabel { get; set; }

  private string CssClass => new CssBuilder("pf-c-data-list__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string BodyCssClass => new CssBuilder("pf-c-data-list__expandable-content-body")
    .AddClass("pf-m-no-padding", HasNoPadding)
    .Build();
}