@namespace Blatternfly.Components

<li
  @attributes="AdditionalAttributes"
  class="@CssClass"
  aria-labelledby="@AriaLabelledBy"
  tabindex="@TabIndex"
  @onclick="@SelectDataListItem"
  @onkeydown="@OnKeyDown"
  aria-selected="@AriaSelected"
>
  @if (AllowRowSelection)
  {
    <input
      class="pf-screen-reader"
      type="radio"
      checked="@IsSelected"
      @onchange="OnSelectionChanged"
      tabindex="-1"
      aria-label="@SelectableInputAriaLabel"
      aria-labelledby="@AriaLabelledBy"
    />
  }
  @ChildContent
</li>