@namespace Blatternfly.Components

<section
  @attributes="AdditionalAttributes"
  id="@Id"
  class="@CssClass"
  hidden="@IsHidden"
  aria-label="@AriaLabel"
>
  <div class="@BodyCssClass">
    @ChildContent
  </div>
</section>