@namespace Blatternfly.Components

<Tooltip id="@TooltipId" Reference="@Id" Position="@TooltipPosition">
  <Content>
    @Content
  </Content>
  <ChildContent>
    <span
      @attributes="AdditionalAttributes"
      class="@CssClass"
      id="@Id"
    >
      @if (Position is TruncatePosition.End or TruncatePosition.Start)
      {
        <span class="@PositionCssClass">
          @Content
          @if (Position is TruncatePosition.Start)
          {
            @s_LeftToRightMark
          }
        </span>
      }
      @if (Position is TruncatePosition.Middle)
      {
        @if (NeedsTruncation)
        {
          <span class="pf-c-truncate__start">@SliceContentStart(Content, TrailingNumChars)</span>
          <span class="pf-c-truncate__end">@SliceContentEnd(Content, TrailingNumChars)</span>
        }
        else
        {
          @Content
        }
      }
    </span>
  </ChildContent>
</Tooltip>