@namespace Blatternfly.Components
@inject IRandomIdGenerator RandomIdGenerator
@inject IDomUtils DomUtils

<Tooltip id="@TooltipId" Reference="@Id" Position="@TooltipPosition">
  <Content>
    @Content
  </Content>
  <ChildContent>
    <span
      @attributes="AdditionalAttributes"
      class="@CssClass"
      id="@Id"
    >
      @if (Position is TruncatePosition.End or TruncatePosition.Start)
      {
        <span class="@PositionCssClass">
          @Content
          @if (Position is TruncatePosition.Start)
          {
            @s_LeftToRightMark
          }
        </span>
      }
      @if (Position is TruncatePosition.Middle)
      {
        @if (NeedsTruncation)
        {
          <span class="pf-c-truncate__start">@SliceContentStart(Content, TrailingNumChars)</span>
          <span class="pf-c-truncate__end">@SliceContentEnd(Content, TrailingNumChars)</span>
        }
        else
        {
          @Content
        }
      }
    </span>
  </ChildContent>
</Tooltip>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Text to truncate.
  [Parameter] public string Content { get; set; }

  /// The number of characters displayed in the second half of the truncation.
  [Parameter] public int TrailingNumChars { get; set; } = 7;

  /// Where the text will be truncated.
  [Parameter] public TruncatePosition Position { get; set; } = TruncatePosition.End;

  /// Tooltip position
  [Parameter] public TooltipPosition TooltipPosition { get; set; } = TooltipPosition.Top;

  private string CssClass => new CssBuilder("pf-c-truncate")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string PositionCssClass => new CssBuilder()
    .AddClass("pf-c-truncate__start" , Position is TruncatePosition.End)
    .AddClass("pf-c-truncate__end"   , Position is TruncatePosition.Start)
    .Build();

  const int MinWidthCharacters = 12;

  private static readonly MarkupString s_LeftToRightMark = new MarkupString("&lrm;");
  private static string SliceContentStart(string str, int slice) => str?[..^slice];
  private static string SliceContentEnd(string str, int slice) => str?[^slice..];

  private string Id { get; set; }
  private string TooltipId { get; set; }

  private bool NeedsTruncation
  {
    get
    {
      if (Content is null)
      {
        return false;
      }
      return Content[0..^TrailingNumChars].Length > MinWidthCharacters;
    }
  }

  protected override void OnInitialized()
  {
    base.OnInitialized();

    Id        = RandomIdGenerator.GenerateId("pf-c-truncate");
    TooltipId = $"{Id}-tooltip";
  }
}
