@namespace Blatternfly.Components

<div
  @attributes="AdditionalAttributes"
  role="option"
  aria-selected="@AriaSelected"
  class="@CssClass"
  tabindex="0"
>
  <div class="@HeaderCssClass">
    @if (Icon is not null)
    {
      <div class="pf-c-tile__icon">@Icon</div>
    }
    <div class="pf-c-tile__title">@Title</div>
  </div>
  @if (ChildContent is not null)
  {
    <div class="pf-c-tile__body">@ChildContent</div>
  }
</div>