@namespace Blatternfly.Components
@inherits BaseComponent

<div class="@CssClass" tabIndex="0" @attributes="AdditionalAttributes">
  <div class="@HeaderCssClass">
    @if (Icon is not null)
    {
      <div class="pf-c-tile__icon">@Icon</div>
    }
    <div class="pf-c-tile__title">@Title</div>
  </div>
  @if (ChildContent is not null)
  {
    <div class="pf-c-tile__body">@ChildContent</div> 
  }
</div>

@code {
  /// Title of the tile.
  [Parameter] public string Title { get; set; }

  /// Icon in the tile title.
  [Parameter] public RenderFragment Icon { get; set; }

  /// Flag indicating if the tile is selected.
  [Parameter] public bool IsSelected { get; set; }

  /// Flag indicating if the tile is disabled.
  [Parameter] public bool IsDisabled { get; set; }

  /// Flag indicating if the tile header is stacked.
  [Parameter] public bool IsStacked { get; set; }

  /// Flag indicating if the stacked tile icon is large.
  [Parameter] public bool IsDisplayLarge { get; set; }
  
  private CssBuilder CssClass => new CssBuilder("pf-c-tile")
    .AddClass("pf-m-selected"  , IsSelected)
    .AddClass("pf-m-disabled"  , IsDisabled)
    .AddClass("pf-m-display-lg", IsDisplayLarge);
  
  private CssBuilder HeaderCssClass => new CssBuilder("pf-c-tile__header")
    .AddClass("pf-m-stacked", IsStacked); 
}