@namespace Blatternfly.Components
@inherits BaseComponent

<div
  suppressContentEditableWarning="true"
  contentEditable="@IsContentEditable"
  @attributes="AdditionalAttributes"
  class="@CssClass"
  @oninput="@OnChange"
>
  @if (IsCode)
  {
    <pre class="@CodeBlockClassName">
      <code class="@CodeBlockClassName">
        @ChildContent
      </code>
    </pre>
  }s
  else
  {
    @ChildContent
  }
</div>

@code {
  [Parameter] public EventCallback<ChangeEventArgs> OnChange { get; set; }
  [Parameter] public bool IsReadOnly { get; set; }
  [Parameter] public bool IsCode { get; set; }
  [Parameter] public string CodeBlockClassName { get; set; }

  private string CssClass => new CssBuilder("pf-c-clipboard-copy__expandable-content")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private bool IsContentEditable { get => !IsReadOnly;}
}