@namespace Blatternfly.Components

<Button
  Type="ButtonType.Button"
  Variant="ButtonVariant.Control"
  OnClick="@OnClick"
  id="@id"
  AriaLabel="@AriaLabel"
  aria-labelledby="@AriaLabelledBy"
  aria-controls="@AriaControls"
  aria-expanded="@AriaExpanded"
  @attributes="AdditionalAttributes"
>
  @if (IsExpanded)
  {
    <AngleDownIcon aria-hidden="true" />
  }
  else
  {
    <AngleRightIcon aria-hidden="true" />
  }
</Button>