@namespace Blatternfly.Components

<Tooltip
  id="@TooltipId"
  Reference="@id"
  ExitDelay="@ExitDelay"
  EntryDelay="@EntryDelay"
  MaxWidth="@MaxWidth"
  Position="@Position"
  AriaLive="TooltipAriaLive.Polite"
  Aria="TooltipAria.None"
>
  <Content><div>@ChildContent</div></Content>
  <ChildContent>
    <Button
      Type="ButtonType.Button"
      Variant="@Variant"
      OnClick="@OnClick"
      AriaLabel="@AriaLabel"
      id="@id"
      aria-labelledby="@AriaLabelledBy"
      @attributes="AdditionalAttributes"
    >
      <CopyIcon />
    </Button>
  </ChildContent>
</Tooltip>