@page "/components/toolbar"

<TextContent>
  <Title class="pf-u-mb-md">Toolbar</Title>
  <Text class="pf-u-mb-md">
    A <strong>toolbar</strong> allows a user to manage and manipulate a data set
  </Text>
  <Text class="pf-u-mb-md">
    See the <a target="_blank" href="https://www.patternfly.org/v4/components/toolbar/design-guidelines">PatternFly design guidelines</a> for more details.
  </Text>
</TextContent>

<Flex>
  <FlexItem Component="nav" class="ws-toc">
    <Title Size="TitleSizes.Large">Table of contents</Title>
    <JumpLinks IsVertical ScrollableSelector=".pf-c-page__main" OffsetSelector=".pf-c-page__header">
      <JumpLinksItem Href="#examples">
        <ChildContent>Examples</ChildContent>
        <SubLists>
          <JumpLinksList>
            <JumpLinksItem Href="#items">Items</JumpLinksItem>
            <JumpLinksItem Href="#adjusting-item-spacers">Adjusting item spacers</JumpLinksItem>
            <JumpLinksItem Href="#adjusting-item-widths">Adjusting item widths</JumpLinksItem>
          </JumpLinksList>
        </SubLists>
      </JumpLinksItem>
    </JumpLinks>
  </FlexItem>
  <FlexItem Grow="@(new FlexGrow { Default = true })">
    <Title id="examples" Size="TitleSizes.Large">Examples</Title>

    <section id="items" class="example-section">
      <Title Size="TitleSizes.Large">Items</Title>
      <Toolbar id="Toolbar">
        <ToolbarContent>
          <ToolbarItem>
            <InputGroup>
              <TextInput name="textInput1" id="textInput1" Type="TextInputTypes.Search" AriaLabel="search input example" />
              <Button Variant="ButtonVariant.Control" AriaLabel="search button for search input">
                <Icon>
                  <SearchIcon />
                </Icon>
              </Button>
            </InputGroup>
          </ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem Variant="ToolbarItemVariant.Separator" />
          <ToolbarItem>
            <Button Variant="ButtonVariant.Primary">Action</Button>
          </ToolbarItem>
        </ToolbarContent>
      </Toolbar>
    </section>

    <section id="adjusting-item-spacers" class="example-section">
      <Title Size="TitleSizes.Large">Adjusting item spacers</Title>
      <Toolbar id="toolbar-spacers-1">
        <ToolbarContent>
          <ToolbarItem ToolbarSpacer="@_firstToolbarSpacers">
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem ToolbarSpacer="@_secondToolbarSpacers">
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem ToolbarSpacer="@_thirdToolbarSpacers">
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem ToolbarSpacer="@_fourthToolbarSpacers">
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem Variant="ToolbarItemVariant.Separator" />
          <ToolbarItem ToolbarSpacer="@_fifthToolbarSpacers">
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Primary">Action</Button>
          </ToolbarItem>
          <ToolbarItem Variant="ToolbarItemVariant.Separator" />
          <ToolbarGroup ToolbarSpaceItems="@_toolbarSpaceItems">
            <ToolbarItem>
              <Button Variant="ButtonVariant.Secondary">Action</Button>
            </ToolbarItem>
            <ToolbarItem>
              <Button Variant="ButtonVariant.Secondary">Action</Button>
            </ToolbarItem>
          </ToolbarGroup>
        </ToolbarContent>
      </Toolbar>
    </section>

    <section id="adjusting-item-widths" class="example-section">
      <Title Size="TitleSizes.Large">Adjusting item widths</Title>
      <Toolbar id="toolbar-widths">
        <ToolbarContent>
          <ToolbarItem Widths="_widths">
            <Button Variant="ButtonVariant.Secondary" IsBlock>
              Action
            </Button>
          </ToolbarItem>
        </ToolbarContent>
      </Toolbar>
    </section>

    <section id="adjusting-toolbar-inset" class="example-section">
      <Title Size="TitleSizes.Large">Adjusting toolbar inset</Title>
      <Toolbar
        id="toolbar-spacers-2"
        Inset="@_inset"
      >
        <ToolbarContent>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem Variant="ToolbarItemVariant.Separator"></ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Secondary">Action</Button>
          </ToolbarItem>
          <ToolbarItem>
            <Button Variant="ButtonVariant.Primary">Action</Button>
          </ToolbarItem>
          <ToolbarItem Variant="ToolbarItemVariant.Separator"></ToolbarItem>
          <ToolbarGroup>
            <ToolbarItem>
              <Button Variant="ButtonVariant.Secondary">Action</Button>
            </ToolbarItem>
            <ToolbarItem>
              <Button Variant="ButtonVariant.Secondary">Action</Button>
            </ToolbarItem>
          </ToolbarGroup>
        </ToolbarContent>
      </Toolbar>
    </section>
  </FlexItem>
</Flex>

@code {
  private readonly ToolbarSpacer _firstToolbarSpacers  = new() { Default = ToolbarSpacers.None };
  private readonly ToolbarSpacer _secondToolbarSpacers = new() { Default = ToolbarSpacers.Small };
  private readonly ToolbarSpacer _thirdToolbarSpacers  = new() { Default = ToolbarSpacers.Medium };
  private readonly ToolbarSpacer _fourthToolbarSpacers = new() { Default = ToolbarSpacers.Large };
  private readonly ToolbarSpacer _fifthToolbarSpacers  = new()
  {
    Default    = ToolbarSpacers.None,
    Medium     = ToolbarSpacers.Small,
    Large      = ToolbarSpacers.Medium,
    ExtraLarge = ToolbarSpacers.ExtraLarge
  };
  private readonly ToolbarSpaceItem _toolbarSpaceItems = new() { Large = ToolbarSpaceItems.Large };
  private readonly ToolbarItemWidths _widths = new ()
  {
    Default     = "100px",
    Small       = "80px",
    Medium      = "150px",
    Large       = "200px",
    ExtraLarge  = "250px",
    ExtraLarge2 = "300px"
  };

  private readonly Inset _inset = new()
  {
    Default     = Insets.None,
    Medium      = Insets.Small,
    ExtraLarge  = Insets.ExtraLarge2,
    ExtraLarge2 = Insets.Large
  };
}