<Toolbar id="toolbar-spacers-1">
  <ToolbarContent>
    <ToolbarItem ToolbarSpacer="@FirstToolbarSpacers">
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem ToolbarSpacer="@SecondToolbarSpacers">
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem ToolbarSpacer="@ThirdToolbarSpacers">
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem ToolbarSpacer="@FourthToolbarSpacers">
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem Variant="ToolbarItemVariant.Separator" />
    <ToolbarItem ToolbarSpacer="@FifthToolbarSpacers">
      <Button Variant="ButtonVariant.Secondary">Action</Button>
    </ToolbarItem>
    <ToolbarItem>
      <Button Variant="ButtonVariant.Primary">Action</Button>
    </ToolbarItem>
    <ToolbarItem Variant="ToolbarItemVariant.Separator" />
    <ToolbarGroup ToolbarSpaceItems="@ToolbarSpaceItems">
      <ToolbarItem>
        <Button Variant="ButtonVariant.Secondary">Action</Button>
      </ToolbarItem>
      <ToolbarItem>
        <Button Variant="ButtonVariant.Secondary">Action</Button>
      </ToolbarItem>
    </ToolbarGroup>
  </ToolbarContent>
</Toolbar>

@code {
  public ToolbarSpacerModifiers FirstToolbarSpacers  { get; set; } = new() { Default = ToolbarSpacer.None };
  public ToolbarSpacerModifiers SecondToolbarSpacers { get; set; } = new() { Default = ToolbarSpacer.Small };
  public ToolbarSpacerModifiers ThirdToolbarSpacers  { get; set; } = new() { Default = ToolbarSpacer.Medium };
  public ToolbarSpacerModifiers FourthToolbarSpacers { get; set; } = new() { Default = ToolbarSpacer.Large };
  public ToolbarSpacerModifiers FifthToolbarSpacers  { get; set; } = new()
  {
    Default    = ToolbarSpacer.None,
    Medium     = ToolbarSpacer.Small,
    Large      = ToolbarSpacer.Medium,
    ExtraLarge = ToolbarSpacer.ExtraLarge
  };
  public ToolbarSpaceItem ToolbarSpaceItems { get; set; } = new() { Large = Blatternfly.Components.ToolbarSpaceItems.Large };
}