@namespace Blatternfly.Components
@inherits BaseComponent

<li
  id="@Id"
  class="pf-c-data-list__item @ExpandedClass @SelectableClass @SelectedClass"
  aria-labelledby="@AriaLabelledBy"
  tabindex="@TabIndex"
  @onclick="@SelectDataListItem"
  @onkeydown="@OnKeyDown"
  aria-selected="@AriaSelected"
  @attributes="AdditionalAttributes"
>
  @ChildContent
</li>

@code {
  /// Flag to show if the expanded content of the DataList item is visible.
  [Parameter] public bool IsExpanded { get; set; }
  
  /// Adds accessible text to the DataList item.
  [Parameter] public string AriaLabelledBy { get; set; }
  
  /// Unique id for the DataList item.
  [Parameter] public string Id { get; set; }
  
  private bool   IsSelectable           { get; set; }
  private string SelectedDataListItemId { get; set; }
  private string TabIndex               { get => IsSelectable ? "0" : null;}
  private string ExpandedClass          { get => IsExpanded ? "pf-m-expanded" : null; }
  private string SelectableClass        { get => IsSelectable ? "pf-m-selectable" : null; }
  private string SelectedClass
  {
    get => !string.IsNullOrEmpty(SelectedDataListItemId) && SelectedDataListItemId == Id ? "pf-m-selected" : null;
  }
 
  private string AriaSelected
  {
    get => !string.IsNullOrEmpty(SelectedDataListItemId) && SelectedDataListItemId == Id ? "true" : null;
  }

  private void SelectDataListItem(MouseEventArgs args)
  {
    if (!IsSelectable)
    {
      return;
    }
    
    // TODO: Implement
  }
  
  private void OnKeyDown(KeyboardEventArgs args)
  {
    if (!IsSelectable)
    {
      return;
    }
    
    if (args.Key == Keys.Enter) 
    {
      // TODO: Implement
    }    
  }
}