@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <div @attributes="AdditionalAttributes" class="@CssClass" @ref="Element">
    @SkipToContent
    @Header
    @Sidebar
    @if (NotificationDrawer is not null)
    {
      <div class="pf-c-page__drawer">
        <Drawer IsExpanded="@IsNotificationDrawerExpanded" OnExpand="@OnNotificationDrawerExpand">
          <DrawerContent>
            <DrawerPanelContent>@NotificationDrawer</DrawerPanelContent>
            <DrawerContentBody>
              <main
                role="@Role"
                id="@MainContainerId"
                class="pf-c-page__main"
                tabindex="@MainTabIndex"
                aria-label="@MainAriaLabel"
                @onclick="HandleMainClick"
              >
                @if (IsGrouped)
                {
                  <PageGroup
                    StickyOnBreakpoint="@PageGroupStickyOnBreakpoint"
                    HasShadowTop="@PageGroupHasShadowTop"
                    HasShadowBottom="@PageGroupHasShadowBottom"
                    HasOverflowScroll="@PageGroupHasOverflowScroll"
                  >
                    @if (IsTertiaryNavGrouped && TertiaryNav is not null)
                    {
                      <PageNavigation IsWidthLimited="@IsTertiaryNavWidthLimited">
                        @TertiaryNav
                      </PageNavigation>
                    }
                    @if (IsBreadcrumbGrouped && Breadcrumb is not null)
                    {
                      <PageBreadcrumb
                        IsWidthLimited="@IsBreadcrumbWidthLimited"
                        StickyOnBreakpoint="@BreadcrumbStickyOnBreakpoint"
                      >
                        @Breadcrumb
                      </PageBreadcrumb>
                    }
                    @AdditionalGroupedContent
                  </PageGroup>
                }
                @if (!IsTertiaryNavGrouped && TertiaryNav is not null)
                {
                  <PageNavigation IsWidthLimited="@IsTertiaryNavWidthLimited">
                    @TertiaryNav
                  </PageNavigation>
                }
                @if (!IsBreadcrumbGrouped && Breadcrumb is not null)
                {
                  <PageBreadcrumb
                    IsWidthLimited="@IsBreadcrumbWidthLimited"
                    StickyOnBreakpoint="@BreadcrumbStickyOnBreakpoint"
                  >
                    @Breadcrumb
                  </PageBreadcrumb>
                }
                @Content
              </main>
            </DrawerContentBody>
          </DrawerContent>
        </Drawer>
      </div>
    }
    else
    {
      <main
        role="@Role"
        id="@MainContainerId"
        class="pf-c-page__main"
        tabindex="@MainTabIndex"
        aria-label="@MainAriaLabel"
        @onclick="HandleMainClick"
      >
        @if (IsGrouped)
        {
          <PageGroup
            StickyOnBreakpoint="@PageGroupStickyOnBreakpoint"
            HasShadowTop="@PageGroupHasShadowTop"
            HasShadowBottom="@PageGroupHasShadowBottom"
            HasOverflowScroll="@PageGroupHasOverflowScroll"
          >
            @if (IsTertiaryNavGrouped && TertiaryNav is not null)
            {
              <PageNavigation IsWidthLimited="@IsTertiaryNavWidthLimited">
                @TertiaryNav
              </PageNavigation>
            }
            @if (IsBreadcrumbGrouped && Breadcrumb is not null)
            {
              <PageBreadcrumb
                IsWidthLimited="@IsBreadcrumbWidthLimited"
                StickyOnBreakpoint="@BreadcrumbStickyOnBreakpoint"
              >
                @Breadcrumb
              </PageBreadcrumb>
            }
            @AdditionalGroupedContent
          </PageGroup>
        }
        @if (!IsTertiaryNavGrouped && TertiaryNav is not null)
        {
          <PageNavigation IsWidthLimited="@IsTertiaryNavWidthLimited">
            @TertiaryNav
          </PageNavigation>
        }
        @if (!IsBreadcrumbGrouped && Breadcrumb is not null)
        {
          <PageBreadcrumb
            IsWidthLimited="@IsBreadcrumbWidthLimited"
            StickyOnBreakpoint="@BreadcrumbStickyOnBreakpoint"
          >
            @Breadcrumb
          </PageBreadcrumb>
        }
        @Content
      </main>
    }
  </div>
</CascadingValue>