<Wizard
  NavAriaLabel="@BasicNavAriaLabel"
  MainAriaLabel="@BasicMainAriaLabel"
  OnClose="@OnCloseWizard"
  OnNext="@OnIncrementalNext"
  Height="400"
>
  <WizardStep id="basic-step-1" Index="1" Name="First step"><p>Step 1 content</p></WizardStep>
  <WizardStep id="basic-step-2" Index="2" Name="Second step" CanJumpTo="@(StepIdReached >= 2)"><p>Step 2 content</p></WizardStep>
  <WizardStep id="basic-step-3" Index="3" Name="Third step"  CanJumpTo="@(StepIdReached >= 3)"><p>Step 3 content</p></WizardStep>
  <WizardStep id="basic-step-4" Index="4" Name="Fourth step" CanJumpTo="@(StepIdReached >= 4)"><p>Step 4 content</p></WizardStep>
  <WizardStep id="basic-step-5" Index="5" Name="Review"      CanJumpTo="@(StepIdReached >= 5)" NextButtonText="Finish"><p>Review step content</p></WizardStep>
</Wizard>

@code {
  public string BasicTitle         => "Basic wizard";
  public string BasicNavAriaLabel  => $"{BasicTitle} steps";
  public string BasicMainAriaLabel => $"{BasicTitle} content";

  private int StepIdReached { get; set; } = 1;

  public Task OnIncrementalNext(WizardStepChangedEventArgs args)
  {
    StepIdReached = StepIdReached < args.NewStepIndex.Value ? args.NewStepIndex.Value : StepIdReached;

    return Task.CompletedTask;
  }

  public Task OnCloseWizard()
  {
		Console.WriteLine("close wizard");
    return Task.CompletedTask;
  }
}