@namespace Blatternfly.Components
@inherits BaseComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-form__field-group-toggle-button">
    <Button
      Variant="ButtonVariant.Plain"
      AriaLabel="@AriaLabel"
      OnClick="@OnToggle"
      aria-expanded="@AriaExpanded"
      aria-labelledby="@AriaLabelledBy"
      id="@ToggleId"
    >
      <span class="pf-c-form__field-group-toggle-icon">
        <AngleRightIcon aria-hidden="true" />
      </span>
    </Button>
  </div>
</div>

@code {
  /// Flag indicating if the toggle is expanded.
  [Parameter] public bool IsExpanded { get; set; }

  /// Aria label of the toggle button.
  [Parameter] public string AriaLabel { get; set; }

  /// Sets the aria-labelledby attribute on the toggle button element.
  [Parameter] public string AriaLabelledBy { get; set; }

  /// The id applied to the toggle button.
  [Parameter] public string ToggleId { get; set; }

  /// Callback for onClick.
  [Parameter] public EventCallback<MouseEventArgs> OnToggle { get; set; }

  private string CssClass => new CssBuilder("pf-c-form__field-group-toggle")
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  private string AriaExpanded { get => IsExpanded ? "true" : "false"; }
}
