@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <div class="pf-c-form__field-group-toggle-button">
    <Button
      Variant="ButtonVariant.Plain"
      AriaLabel="@AriaLabel"
      OnClick="@OnToggle"
      aria-expanded="@AriaExpanded"
      aria-labelledby="@AriaLabelledBy"
      id="@ToggleId"
    >
      <span class="pf-c-form__field-group-toggle-icon">
        <AngleRightIcon aria-hidden="true" />
      </span>
    </Button>
  </div>
</div>