@namespace Blatternfly.Components
@inherits BaseComponent

<div class="pf-c-form__field-group @ExpandedClass" @attributes="AdditionalAttributes">
  @if (IsExpandable)
  {
    <FormFieldGroupToggle
      OnToggle="@OnToggle"
      IsExpanded="@IsExpanded"
      AriaLabel="@ToggleAriaLabel"
      AriaLabelledBy="@AriaLabelledBy"
      ToggleId="@ToggleId"
    />
  }
  @if (Header is not null)
  {
    <CascadingValue Value="this">
      @Header
    </CascadingValue>
  }
  @if (!IsExpandable || (IsExpandable && IsExpanded))
  {
    <div class="pf-c-form__field-group-body">
      @ChildContent
    </div>
  }
</div>

@code {
  /// Form filed group header.
  [Parameter] public RenderFragment Header { get; set; }

  /// Flag indicating if the field group is expandable.
  [Parameter] public bool IsExpandable { get; set; }

  /// Flag indicate if the form field group is expanded. Modifies the card to be expandable.
  [Parameter] public bool IsExpanded { get; set; }
  
  /// Function callback called when user clicks toggle button.
  [Parameter] public EventCallback<MouseEventArgs> OnToggle { get; set; }

  /// Aria-label to use on the form filed group toggle button.
  [Parameter] public string ToggleAriaLabel { get; set; }
  
  private FormFieldGroupHeader GroupHeader { get; set; }
  
  private string ToggleId       { get; } = Utils.GetUniqueId("form-field-group-toggle-");
  private string AriaLabelledBy { get => !string.IsNullOrEmpty(GroupHeader?.TitleTextId) ? $"{GroupHeader.TitleTextId} {ToggleId}" : null; }
  private string ExpandedClass  { get => IsExpanded && IsExpandable ? "pf-m-expanded" : null; }
  
  internal void SetHeader(FormFieldGroupHeader header)
  {
    GroupHeader = header;
    StateHasChanged();
  }

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    
    if (IsExpandable && string.IsNullOrEmpty(ToggleAriaLabel) && string.IsNullOrEmpty(GroupHeader?.TitleTextId)) 
    {
      throw new InvalidOperationException("FormFieldGroupExpandable: ToggleAriaLabel or the TitleTextId prop of FormFieldGroupHeader is required to make the toggle button accessible");
    }
  }
}