@namespace Blatternfly.Components

<div class="@CssClass" @attributes="AdditionalAttributes" role="group" aria-labelledby="@AriaLabelledBy">
  @if (IsExpandable)
  {
    <FormFieldGroupToggle
      OnToggle="@OnToggle"
      IsExpanded="@IsExpanded"
      AriaLabel="@ToggleAriaLabel"
      AriaLabelledBy="@ToggleAriaLabelledBy"
      ToggleId="@ToggleId"
    />
  }
  @if (Header is not null)
  {
    <CascadingValue Value="this">
      @Header
    </CascadingValue>
  }
  @if (!IsExpandable || (IsExpandable && IsExpanded))
  {
    <div class="pf-c-form__field-group-body">
      @ChildContent
    </div>
  }
</div>