@namespace Blatternfly.Components

<div @attributes="AdditionalAttributes" class="@CssClass">
  <button
    type="button"
    class="@ButtonCssClass"
    aria-pressed="@AriaPressed"
    @onclick="@HandleChange"
    @onclick:stopPropagation="true"
    aria-label="@AriaLabel"
    disabled="@IsDisabledValue"
    id="@ButtonId"
  >
    @if (Icon is not null)
    {
      <ToggleGroupItemElement Variant="ToggleGroupItemVariant.Icon">@Icon</ToggleGroupItemElement>
    }
    @if (Text is not null)
    {
      <ToggleGroupItemElement Variant="ToggleGroupItemVariant.Text">@Text</ToggleGroupItemElement>
    }
  </button>
</div>