@namespace Blatternfly.Components

<div class="pf-c-calendar-month" @attributes="AdditionalAttributes">
  <div class="pf-c-calendar-month__header">
    <div class="pf-c-calendar-month__header-nav-control pf-m-prev-month">
      <Button
        Variant="ButtonVariant.Plain"
        AriaLabel="@PrevMonthAriaLabel"
        OnClick="@OnPreviousMonthClick"
      >
        <AngleLeftIcon aria-hidden="true" />
      </Button>
    </div>
    <InputGroup>
      <div class="pf-c-calendar-month__header-month">
        <span id="@HiddenMonthId" hidden>
          Month
        </span>
        <Select
          width="140px"
          AriaLabelledBy="@HiddenMonthId"
          IsOpen="@IsSelectOpen"
          OnToggle="@MonthToggleHandler"
          OnSelect="@MonthSelectedHandler"
          PlaceholderText="@MonthFormatted"
          Variant="SelectVariant.Single"
        >
          @for (var index = 1; index <= 12; ++index)
          {
            @if (!string.IsNullOrEmpty(LongMonths[index - 1]))
            {
              <SelectOption
                @key="@index"
                Value="@index.ToString()"
                Text="@MonthFormat(@LongMonths[index - 1])"
                IsSelected="@(MonthFormat(LongMonths[index - 1]) == @MonthFormatted)"
              />
            }
          }
        </Select>
      </div>
      <div class="pf-c-calendar-month__header-year">
        <TextInput
          AriaLabel="@YearInputAriaLabel"
          Type="TextInputTypes.Number"
          Value="@YearFormatted"
          ValueChanged="@OnYearChanged"
        />
      </div>
    </InputGroup>
    <div class="pf-c-calendar-month__header-nav-control pf-m-next-month">
      <Button
        Variant="ButtonVariant.Plain"
        AriaLabel="@NextMonthAriaLabel"
        OnClick="@OnNextMonthClick"
      >
        <AngleRightIcon aria-hidden="true" />
      </Button>
    </div>
  </div>
  <table class="pf-c-calendar-month__calendar">
    <thead class="pf-c-calendar-month__days">
      <tr>
        @foreach (var day in Calendar.First())
        {
          <th @key="day.Index" class="pf-c-calendar-month__day" scope="col">
            <span class="pf-screen-reader">@LongWeekdayFormat(day.Date)</span>
            <span aria-hidden="true">@WeekdayFormat(day.Date)</span>
          </th>
        }
      </tr>
    </thead>
    <tbody @onkeydown="@OnKeyDown" @ref="TableBodyReference">
      @for (var index = 0; index < Calendar.Count; ++index)
      {
        <tr @key="@index" class="pf-c-calendar-month__dates-row">
          @foreach (var day in GetCalendarWeekInfo(index))
          {
            <td
              @key="@day.Index"
              class="@day.CellCssClass"
            >
              <button
                class="@day.MonthDateCssClass"
                type="button"
                tabindex="@day.TabIndex"
                disabled="@day.IsDisabled"
                aria-label="@(CellAriaLabel(day.Date))"
                @onclick="@((_) => ChangeDate(day.Date))"
                @onclick:stopPropagation="true"
                @onmouseover="@((_) => SetHoveredDate(day.Date))"
              >
                @day.DayFormatted
              </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
