@namespace Blatternfly.Components
@using System.Text
@using System.Globalization
@inject ISequentialIdGenerator SequentialIdGenerator
@inject ICalendarMonthInteropModule CalendarMonthInterop

<div class="pf-c-calendar-month" @attributes="AdditionalAttributes">
  <div class="pf-c-calendar-month__header">
    <div class="pf-c-calendar-month__header-nav-control pf-m-prev-month">
      <Button
        Variant="ButtonVariant.Plain"
        AriaLabel="@PrevMonthAriaLabel"
        OnClick="@((_) => OnMonthClick(PrevMonth))"
      >
        <ArrowLeftIcon aria-hidden="true" />
      </Button>
    </div>
    <div class="pf-c-calendar-month__header-month">
      <span id="@HiddenMonthId" hidden>
        Month
      </span>
      <Select
        width="140px"
        AriaLabelledBy="@HiddenMonthId"
        IsOpen="@IsSelectOpen"
        OnToggle="@MonthToggleHandler"
        OnSelect="@MonthSelectedHandler"
        PlaceholderText="@MonthFormatted"
        Variant="SelectVariant.Single"
      >
        @for (var index = 1; index <= 12; ++index)
        {
          @if (!string.IsNullOrEmpty(LongMonths[index - 1]))
          {
            <SelectOption
              @key="@index"
              Value="@index.ToString()"
              Text="@MonthFormat(@LongMonths[index - 1])"
              IsSelected="@(MonthFormat(LongMonths[index - 1]) == @MonthFormatted)"
            />
          }
        }
      </Select>
    </div>
    <div class="pf-c-calendar-month__header-year">
      <TextInput
        AriaLabel="@YearInputAriaLabel"
        Type="TextInputTypes.Number"
        @bind-value="@YearFormatted"
      />
    </div>
    <div class="pf-c-calendar-month__header-nav-control pf-m-next-month">
      <Button
        Variant="ButtonVariant.Plain"
        AriaLabel="@NextMonthAriaLabel"
        OnClick="@((_) => OnMonthClick(NextMonth))"
      >
        <ArrowRightIcon aria-hidden="true" />
      </Button>
    </div>
  </div>
  <table class="pf-c-calendar-month__calendar">
    <thead class="pf-c-calendar-month__days">
      <tr>
        @foreach (var day in Calendar.First())
        {
          <th @key="day.Index" class="pf-c-calendar-month__day" scope="col">
            <span class="pf-screen-reader">@LongWeekdayFormat(day.Date)</span>
            <span aria-hidden="true">@WeekdayFormat(day.Date)</span>
          </th>
        }
      </tr>
    </thead>
    <tbody @onkeydown="@OnKeyDown" @ref="TableBodyReference">
      @for (var index = 0; index < Calendar.Count; ++index)
      {
        <tr @key="@index" class="pf-c-calendar-month__dates-row">
          @foreach (var day in GetCalendarWeekInfo(Calendar[index]))
          {
            <td
              @key="@day.Index"
              class="@day.CellCssClass"
            >
              <button
                class="@day.MonthDateCssClass"
                type="button"
                tabindex="@day.TabIndex"
                disabled="@day.IsDisabled"
                aria-label="@(CellAriaLabel(day.Date))"
                @onclick="@((_) => ChangeDate(day.Date))"
                @onclick:stopPropagation="true"
                @onmouseover="@((_) => SetHoveredDate(day.Date))"
              >
                @day.DayFormatted
              </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// Month/year to base other dates around.
  [Parameter] public DateOnly? Date { get; set; }

  /// Callback when date is selected.
  [Parameter] public EventCallback<DateOnly> OnChange { get; set; }

  /// Functions that returns if a date is valid and selectable.
  [Parameter] public IEnumerable<IDateValidator> Validators { get; set; }

  // @hide Internal prop to allow pressing escape in select menu to not close popover.
  [Parameter] public EventCallback<bool> OnSelectToggle { get; set; }

  /// If using the default formatters which locale to use.
  /// Undefined defaults to current locale.
  /// See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl#Locale_identification_and_negotiation.
  [Parameter] public CultureInfo Locale { get; set; }

  /// Day of week that starts the week. 0 is Sunday, 6 is Saturday..
  [Parameter] public DayOfWeek? WeekStart { get; set; }

  /// Which date to start range styles from.
  [Parameter] public DateOnly? RangeStart { get; set; }

  /// Aria-label for the previous month button.
  [Parameter] public string PrevMonthAriaLabel { get; set; } = "Previous month";

  /// Aria-label for the next month button.
  [Parameter] public string NextMonthAriaLabel { get; set; } = "Next month";

  /// Aria-label for the year input.
  [Parameter] public string YearInputAriaLabel { get; set; } = "Select year";

  [Parameter] public bool IsSelectOpen { get; set; }

  private ElementReference TableBodyReference { get; set; }
  private string           HiddenMonthId      { get; set; }
  private CultureInfo      CurrentLocale      { get => Locale ?? CultureInfo.CurrentUICulture; }
  private string[]         LongMonths         { get => CurrentLocale.DateTimeFormat.MonthNames; }
  private DateOnly?        HoveredDate        { get; set; }
  private string           MonthFormatted     { get; set; }

  private IReadOnlyList<CalendarDay[]> Calendar { get; set; }

  private DateOnly _focusedDate;
  private DateOnly FocusedDate
  {
    get => _focusedDate;
    set
    {
      if (!EqualityComparer<DateOnly>.Default.Equals(value, _focusedDate))
      {
        _focusedDate   = value;
        _yearFormatted = value.Year.ToString();
        MonthFormatted = MonthFormat(LongMonths[value.Month - 1]);
        Calendar       = CalendarBuilder.Build(FocusedDate.Year, FocusedDate.Month, WeekStart, CurrentLocale, Validators);
      }
    }
  }

  private string _yearFormatted;
  private string YearFormatted
  {
    get => _yearFormatted;
    set
    {
      if (!EqualityComparer<string>.Default.Equals(value, _yearFormatted))
      {
        _yearFormatted = value;
        FocusedDate = new DateOnly(int.Parse(_yearFormatted), FocusedDate.Month, 01);
        HoveredDate = FocusedDate;
        SetShouldFocus(false);
      }
    }
  }

  private DateOnly PrevMonth { get => AddMonths(-1); }
  private DateOnly NextMonth { get => AddMonths(1); }
  private DateOnly AddMonths(int months) => FocusedDate.AddMonths(months);

  private void OnMonthClick(DateOnly newDate)
  {
    FocusedDate = newDate;
    HoveredDate = newDate;
    SetShouldFocus(false);
  }

  private async Task MonthToggleHandler(bool isExpanded)
  {
    IsSelectOpen = !IsSelectOpen;
    await OnSelectToggle.InvokeAsync(IsSelectOpen);
  }

  private async Task MonthSelectedHandler(SelectOption option)
  {
    IsSelectOpen = false;
    await OnSelectToggle.InvokeAsync(false);
    FocusedDate  = new DateOnly(FocusedDate.Year, int.Parse(option.Value), 1);
    HoveredDate  = FocusedDate;
    SetShouldFocus(false);
  }

  private void SetShouldFocus(bool focus)
  {
  }

  private async Task ChangeDate(DateOnly newDate)
  {
    Date        = newDate;
    FocusedDate = newDate;
    HoveredDate = newDate;
    await OnChange.InvokeAsync(newDate);
    StateHasChanged();
  }

  private void SetHoveredDate(DateOnly date) => HoveredDate = Date;

  ///How to format months in Select.
  public string MonthFormat(string monthName) => CurrentLocale.TextInfo.ToTitleCase(monthName);

  /// How to format week days in header.
  public string WeekdayFormat(DateOnly date) => date.ToString("ddd", CurrentLocale)[0..1].ToUpper();

  /// How to format days in header for screen readers.
  public string LongWeekdayFormat(DateOnly date) => CurrentLocale.TextInfo.ToTitleCase(date.ToString("dddd", CurrentLocale));

  /// How to format days in buttons in table cells.
  public string DayFormat(DateOnly date) => date.Day.ToString();

  /// Aria-label for the date cells.
  public string CellAriaLabel(DateOnly date)
  {
      return date.ToString("dd MMMM yyyy", Locale);
  }

  private DateOnly Today { get => new (DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day); }
  private bool IsHoveredDateValid { get => IsValidated(HoveredDate); }
  private bool IsValidDate(DateOnly? date) => date.HasValue;
  private bool IsValidated(DateOnly? date)
  {
    if (!HoveredDate.HasValue)
    {
      return false;
    }
    if (!date.HasValue)
    {
      return false;
    }
    if (Validators == null || !Validators.Any())
    {
      return true;
    }
    return Validators.All(validator => validator.Validate(date.Value));
  }

  private CalendarDayRenderInfo GetCalendarDayInfo(CalendarDay day)
  {
    var date            = day.Date;
    var dayFormatted    = DayFormat(date);
    var isToday         = date == Today;
    var isSelected      = IsValidDate(Date) && date == Date;
    var isFocused       = date == FocusedDate;
    var isAdjacentMonth = date.Month != FocusedDate.Month;
    var isRangeStart    = IsValidDate(RangeStart) && date == RangeStart;
    var isInRange       = false;
    var isRangeEnd      = false;

    if (IsValidDate(RangeStart) && IsValidDate(Date))
    {
      isInRange  = date > RangeStart && date < Date;
      isRangeEnd = date == Date;
    }
    else if (IsValidDate(RangeStart) && IsHoveredDateValid)
    {
      if (HoveredDate > RangeStart || HoveredDate == RangeStart)
      {
        isInRange    = date > RangeStart && date < HoveredDate;
        isRangeStart = date == RangeStart;
        isRangeEnd   = date == HoveredDate;
      }
      // Don't handle focused dates before start dates for now.
      // Core would likely need new styles
    }

    var cellCssClass = new CssBuilder("pf-c-calendar-month__dates-cell")
      .AddClass("pf-m-adjacent-month", isAdjacentMonth)
      .AddClass("pf-m-current"       , isToday)
      .AddClass("pf-m-selected"      , isSelected || isRangeStart)
      .AddClass("pf-m-disabled"      , !day.IsValid)
      .AddClass("pf-m-in-range"      , isInRange || isRangeStart || isRangeEnd)
      .AddClass("pf-m-start-range"   , isRangeStart)
      .AddClass("pf-m-end-range"     , isRangeEnd)
      .Build();

    var monthDateCssClass = new CssBuilder("pf-c-calendar-month__date")
      .AddClass("pf-m-hover"    , isRangeEnd)
      .AddClass("pf-m-disabled" , !day.IsValid)
      .Build();

    return new CalendarDayRenderInfo
    {
      Index             = day.Index,
      Date              = date,
      DayFormatted      = dayFormatted,
      TabIndex          = isFocused ? 0 : -1,
      IsDisabled        = !day.IsValid,
      IsToday           = isToday,
      IsSelected        = isSelected,
      IsFocused         = isFocused,
      IsAdjacentMonth   = isAdjacentMonth,
      IsInRange         = isInRange,
      IsRangeStart      = isRangeStart,
      IsRangeEnd        = isRangeEnd,
      CellCssClass      = cellCssClass,
      MonthDateCssClass = monthDateCssClass
    };
  }

  private IEnumerable<CalendarDayRenderInfo> GetCalendarWeekInfo(CalendarDay[] week)
  {
    return week.Select(GetCalendarDayInfo);
  }

  protected override void OnInitialized()
  {
    HiddenMonthId = SequentialIdGenerator.GenerateId("hidden-month-span");

    base.OnInitialized();
  }

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    if (!IsValidDate(Date))
    {
      if (IsValidDate(RangeStart))
      {
        FocusedDate = RangeStart.Value;
      }
      else
      {
        FocusedDate = Today;
      }
    }
    else
    {
      FocusedDate = Date.Value;
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);

    if (firstRender)
    {
      var dotNetObjRef = DotNetObjectReference.Create(this);
      await CalendarMonthInterop.OnKeydown(dotNetObjRef, TableBodyReference);
    }
  }

  [JSInvokable]
  public async Task OnKeyDown(KeyboardEventArgs args)
  {
    var newDate = FocusedDate;
    if (args.Key == Keys.ArrowUp) {
      newDate = newDate.AddDays(-7);
    } else if (args.Key == Keys.ArrowRight) {
      newDate = newDate.AddDays(1);
    } else if (args.Key == Keys.ArrowDown) {
      newDate = newDate.AddDays(7);
    } else if (args.Key == Keys.ArrowLeft) {
      newDate = newDate.AddDays(-1);
    }
    if (newDate != FocusedDate && IsValidated(newDate)) {
      FocusedDate = newDate;
      HoveredDate = newDate;
      SetShouldFocus(true);
      await ChangeDate(newDate);
    }
  }
}