@namespace Blatternfly.Components
@inject IDomUtils DomUtils
@inject IComponentIdGenerator ComponentIdGenerator

@if (!IsClosed)
{
  <div
    class="@CssClass"
    aria-label="@AriaLabelValue"
    aria-live="@AriaLive"
    aria-atomic="@AriaAtomic"
  >
    @if (IsExpandable)
    {
      <CascadingValue Value="this" IsFixed="true">
        <div class="pf-c-alert__toggle">
          <AlertToggleExpandButton
            IsExpanded="@IsExpanded"
            OnToggleExpand="@OnToggleExpand"
            AriaLabel="@ToggleAriaLabelValue"
          />
        </div>
      </CascadingValue>
    }
    @if (CustomIcon is not null)
    {
      <AlertIcon Variant="@AlertIconVariant">
        <CustomIcon>@CustomIcon</CustomIcon>
      </AlertIcon>
    }
    else
    {
      <AlertIcon Variant="@AlertIconVariant"/>
    }
    <Tooltip id="@TooltipId" Reference="@TitleId" Position="@TooltipPosition">
      <Content>
        <span class="pf-u-screen-reader">@VariantLabelValue</span> @Title
      </Content>
      <ChildContent>
        <TitleHeadingLevel
          id="@TitleId"
          class="@TitleCssClass"
          style="@TruncateTitleStyle"
          HeadingLevel="@TitleHeadingLevel"
          @ref="TitleRef"
        >
          <span class="pf-u-screen-reader">@VariantLabelValue</span> @Title
        </TitleHeadingLevel>
      </ChildContent>
    </Tooltip>
    @if (ActionClose is not null)
    {
      <div class="pf-c-alert__action">@ActionClose</div>
    }
    @if (ChildContent is not null && (!IsExpandable || (IsExpandable && IsExpanded)))
    {
      <div class="pf-c-alert__description">@ChildContent</div>
    }
    @if (ActionLinks is not null)
    {
      <div class="pf-c-alert__action-group">@ActionLinks</div>
    }
  </div>
}