@namespace Blatternfly.Components

<Toggle
  IsOpen="@IsOpen"
  IsActive="@IsActive"
  IsDisabled="@IsDisabled"
  IsPlain="@IsPlain"
  Type="@Type"
  aria-label="@AriaLabel"
  OnToggle="@ToggleHandler"
  @attributes="AdditionalAttributes"
>
  <Badge IsRead="@IsRead">
    @ChildContent
    <span class="pf-c-dropdown__toggle-icon">
      <CaretDownIcon />
    </span>
  </Badge>
</Toggle>