@namespace Blatternfly.Components

<CascadingValue Value="this" IsFixed="true">
  <div
    class="@CssClass"
    @onkeydown="OnEscPress"
    @onkeydown:stopPropagation="true"
    @attributes="AdditionalAttributes"
  >
    @Toggle
    @if (IsOpen)
    {
      <DropdownMenu
        id="@DropdownMenuId"
        IsOpen="@IsOpen"
        Position="@Position"
        Alignments="@Alignments"
        IsGrouped="@IsGrouped"
        AutoFocus="@AutoFocusEnabled"
        OpenedOnEnter="@OpenedOnEnter"
        aria-labelledby="@AriaLabelledBy"
        style="@DropdownMenuStyle"
        @ref="DropdownMenu"
      >
        @DropdownItems
      </DropdownMenu>
    }
  </div>
</CascadingValue>
