@namespace Blatternfly.Components

<label @attributes="AdditionalAttributes" class="@CssClass" for="@InternalId">
  <input type="checkbox" aria-invalid="@IsInvalid" disabled="@IsDisabled" checked="@IsChecked" />
  @if (ChildContent is not null)
  {
    <span class="pf-c-dropdown__toggle-text" aria-hidden="true" id="@InternalId-text">@ChildContent</span>
  }
</label>