@namespace Blatternfly.Components

<Toggle
  IsOpen="@IsOpen"
  IsActive="@IsActive"
  IsDisabled="@IsDisabled"
  IsPlain="@IsPlainValue"
  IsText="@IsTextValue"
  ToggleVariant="@ToggleVariant"
  AriaHasPopup="@AriaHasPopup"
  Type="@Type"
  OnToggle="@ToggleHandler"
  OnEnter="@OnEnterHandler"
  aria-label="@AriaLabel"
  @attributes="AdditionalAttributes"
  ToggleClass="@ToggleClass"
>
  @if (Icon is not null)
  {
    <span class="@ToggleIconCssClass">@Icon</span>
  }
  @if (ChildContent is not null)
  {
    <span class="@ToggleTextCssClass">@ChildContent</span>
  }
  @if (ToggleIndicator is not null)
  {
    <span class="@ToggleIndicatorCssClass">
      @ToggleIndicator
    </span>
  }
</Toggle>

@code {
  /// <summary>The icon to display for the toggle. Defaults to CaretDownIcon. Set to null to not show an icon.</summary>
  [Parameter] public RenderFragment ToggleIndicator { get; set; } = __builder => {
      <CaretDownIcon />
  };
}