@namespace Blatternfly.Components

<button
  @attributes="AdditionalAttributes"
  id="@ToggleId"
  class="@CssClass"
  type="@ToggleButtonType"
  aria-expanded="@AriaExpanded"
  aria-haspopup="@AriaPopup"
  disabled="@IsDisabled"
  @onclick="ToggleHandler"
  @ref="Element"
>
  @ChildContent
</button>