@namespace Blatternfly.Components
@implements IDisposable
@using System.Diagnostics.CodeAnalysis
@inject IDropdownToggleInteropModule DropdownToggleToggleInterop
@inject IWindowObserver WindowObserver
@inject IComponentIdGenerator ComponentIdGenerator

<button
  @attributes="AdditionalAttributes"
  id="@ToggleId"
  class="@CssClass"
  type="@ToggleButtonType"
  aria-expanded="@AriaExpanded"
  aria-haspopup="@AriaPopup"
  disabled="@IsDisabled"
  @onclick="ToggleHandler"
  @ref="Element"
>
  @ChildContent
</button>

@code {
  /// Additional attributes that will be applied to the component.
  [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

  /// Content rendered inside the component.
  [Parameter] public RenderFragment ChildContent { get; set; }

  /// HTML Element reference
  public ElementReference Element { get; protected set; }

  [CascadingParameter] public Dropdown Parent { get; set; }

  /// Type to put on the button.
  [Parameter] public ButtonType? Type { get; set; }

  /// Flag to indicate if menu is opened.
  [Parameter] public bool IsOpen { get; set; }

  /// Callback called when toggle is clicked.
  [Parameter] public EventCallback<bool> OnToggle { get; set; }

  /// Callback called when the Enter key is pressed.
  [Parameter] public EventCallback OnEnter { get; set; }

  /// Forces active state.
  [Parameter] public bool IsActive { get; set; }

  /// Disables the dropdown toggle.
  [Parameter] public bool IsDisabled { get; set; }

  /// Display the toggle with no border or background.
  [Parameter] public bool? IsPlain { get; set; }

  /// Display the toggle in text only mode.
  [Parameter] public bool? IsText { get; set; }

  /// Alternate styles for the dropdown toggle button.
  [Parameter] public ToggleVariant ToggleVariant { get; set; } = ToggleVariant.Default;

  /// Style the toggle as a child of a split button.
  [Parameter] public bool IsSplitButton { get; set; }

  /// Flag for aria popup.
  [Parameter] public AriaPopupVariant? AriaHasPopup { get; set; }

  /// Allows selecting toggle to select parent.
  [Parameter] public bool BubbleEvent { get; set; }

  [Parameter] public string ToggleClass { get; set; }

  private string CssClass => new CssBuilder()
    .AddClass(ToggleClass                   , !string.IsNullOrEmpty(ToggleClass))
    .AddClass("pf-c-dropdown__toggle-button", string.IsNullOrEmpty(ToggleClass) && IsSplitButton)
    .AddClass("pf-c-dropdown__toggle"       , string.IsNullOrEmpty(ToggleClass) && !IsSplitButton)
    .AddClass("pf-m-active"                 , string.IsNullOrEmpty(ToggleClass) && IsActive)
    .AddClass("pf-m-disabled"               , string.IsNullOrEmpty(ToggleClass) && IsDisabled)
    .AddClass("pf-m-plain"                  , string.IsNullOrEmpty(ToggleClass) && ((IsPlain.HasValue && IsPlain.Value) || (Parent is not null && Parent.IsPlain)))
    .AddClass("pf-m-text"                   , string.IsNullOrEmpty(ToggleClass) && IsText.HasValue && IsText.Value)
    .AddClass("pf-m-primary"                , string.IsNullOrEmpty(ToggleClass) && ToggleVariant is ToggleVariant.Primary)
    .AddClass("pf-m-secondary"              , string.IsNullOrEmpty(ToggleClass) && ToggleVariant is ToggleVariant.Secondary)
    .AddClassFromAttributes(AdditionalAttributes)
    .Build();

  internal string ToggleId { get => !string.IsNullOrEmpty(InternalId) ? InternalId : Id; }

  private string Id           { get; set; }
  private string InternalId   { get => AdditionalAttributes.GetPropertyValue(HtmlAttributes.Id); }
  private string AriaExpanded { get => IsOpen ? "true" : "false"; }
  private string AriaPopup
  {
    get => AriaHasPopup switch
    {
      AriaPopupVariant.Menu    => "menu",
      AriaPopupVariant.Listbox => "listbox",
      AriaPopupVariant.Tree    => "tree",
      AriaPopupVariant.Grid    => "grid",
      AriaPopupVariant.Dialog  => "dialog",
      _                        => Parent?.AriaHasPopup ?? null
    };
  }
  private string ToggleButtonType
  {
    get => Type switch
    {
      ButtonType.Button => "button",
      ButtonType.Submit => "submit",
      ButtonType.Reset  => "reset",
      _                 => "button"
    };
  }

  private IDisposable _windowClickSubscription;
  public void Dispose()
  {
    _windowClickSubscription?.Dispose();
  }

  [DynamicDependency(nameof(KeydownOnToggle))]
  [DynamicDependency(nameof(KeyDownOnEnter))]
  [DynamicDependency(nameof(KeydownState))]
  protected override void OnInitialized()
  {
    base.OnInitialized();

    Parent?.RegisterToggle(this);

    Id                       = ComponentIdGenerator.Generate("pf-toggle-id");
    _windowClickSubscription = WindowObserver.OnClick.Subscribe(async e => await OnWindowClick(e));
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);

    if (firstRender)
    {
      var dotNetObjRef = DotNetObjectReference.Create(this);
      await DropdownToggleToggleInterop.OnKeydown(dotNetObjRef, Element);
    }
  }

  [JSInvokable]
  public async Task KeydownOnToggle()
  {
    await ToggleHandler();
    StateHasChanged();
  }

  [JSInvokable]
  public async Task KeyDownOnEnter()
  {
    IsOpen = !IsOpen;
    await OnEnter.InvokeAsync();
    StateHasChanged();
  }

  [JSInvokable]
  public Task<ToggleState> KeydownState()
  {
    return Task.FromResult(new ToggleState(IsOpen, BubbleEvent));
  }

  internal async Task CloseAsync()
  {
    IsOpen = false;
    await OnToggle.InvokeAsync(IsOpen);
  }

  internal async Task FocusAsync()
  {
    await Element.FocusAsync();
  }

  private async Task OnWindowClick(MouseEvent e)
  {
    var clickedOnToggle   = e.ComposedPath?.Any(x => x == ToggleId);
    var clickedWithinMenu = e.ComposedPath?.Any(x => x == Parent?.DropdownMenu?.MenuId);
    if (IsOpen && !(clickedOnToggle.GetValueOrDefault() || clickedWithinMenu.GetValueOrDefault()))
    {
      await CloseAsync();
      StateHasChanged();
    }
  }

  private async Task ToggleHandler()
  {
    IsOpen = !IsOpen;
    await OnToggle.InvokeAsync(IsOpen);
  }
}